<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
              crossorigin="anonymous"/>
        <!-- Optional theme -->
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" 
              crossorigin="anonymous"/>
        <style>

            body {height: 1200px; margin-top: 40px}
        </style>
        <script src="../../zh_cn.js" type="text/javascript"></script>
        <script type="text/javascript">

            //隱藏TR
            function hide_tr()
            {
                var tr_style = document.getElementById('dyn_tr').style;
                tr_style.display = 'none';
            }
            //顯示TR
            function show_tr()
            {
                var tr_style = document.getElementById('dyn_tr').style;
                tr_style.display = 'table-row';
            }

        </script>
        <f:metadata>
            <f:viewAction action="#{create_Org.init()}"/>
        </f:metadata>
        <title>#{msg.title}</title>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/templates/pageHeader.xhtml" />
        <!--Navigation bar-->
        <ui:include src="/WEB-INF/templates/navBar.xhtml" />

        <div class="container-fluid">
            <div class="row">
                <section id="sideBarLeft" class="col-md-3 col-lg-3">
                    <ui:insert name="sideMenu">
                        <ui:include src="/WEB-INF/templates/menu.xhtml" />
                    </ui:insert>
                </section>

                <section id="content" class="col-md-9 col-lg-9">
                    <!--Templates-->
                    <h:form id="form">
                        <table class="table">
                            <caption>新增組織單位</caption>
                            <h:messages class="alert-warning" style="font-size: 30px" id="msg"/>
                            <tr>
                                <td width="20%" class="alert-danger">單位連絡人姓名</td>
                                <td>
                                    <p:inputText size="10" 
                                                 maxlength="20" 
                                                 required="true" 
                                                 requiredMessage="請輸入單位連絡人姓名" 
                                                 value="#{create_Org.contactName}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="alert-danger">單位聯絡人電話</td>
                                <td>
                                    <p:inputText size="10" maxlength="20" required="true" requiredMessage="請輸入單位聯絡人電話" value="#{create_Org.contactPhone}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="alert-danger">欲新增的組織單位之父層</td>
                                <td>
                                    <p:selectOneMenu id="layer" required="true" requiredMessage="請選擇欲新增的組織單位之父層" value="#{create_Org.layer}">
                                        <f:selectItem itemLabel="地方主管機關" itemValue="1"/>     
                                        <f:selectItem itemLabel="目的事業主管機關" itemValue="2"/>     
                                        <f:selectItem itemLabel="運用單位" itemValue="3"/>     
                                        <f:ajax event="change" execute="layer" render="orgType layer1 org_1Layer layer2 org_2Layer layer3 org_3Layer"/>
                                    </p:selectOneMenu>
                                    <p:selectOneMenu id="orgType" value="#{create_Org.parentCodeType}"
                                                     filter="true" filterMatchMode="startsWith" disabled="#{create_Org.switchValue}">
                                        <f:selectItems value="#{create_Org.specificOrgList}"/>
                                    </p:selectOneMenu>&nbsp;
                                    <p:outputLabel value="是否使用階層的方式選擇"/>
                                    <p:selectBooleanButton onLabel="是" offLabel="否" value="#{create_Org.switchValue}">
                                        <f:ajax execute="@this" listener="#{create_Org.switchMethod()}" render="orgType"/>
                                    </p:selectBooleanButton>
                                </td>
                            </tr>
                            <tr id="dyn_tr">
                                <td class="alert-danger">請選擇父層單位名稱</td>
                                <td>
                                    <p:outputLabel style="width: 20%" id="layer1" value="地方主管機關名稱："/>
                                    <p:selectOneMenu id="org_1Layer"
                                                     value="#{create_Org.selectedOrg_Code1Layer}">
                                        <f:selectItems value="#{create_Org.specific_Org1Layer}"/>
                                        <f:ajax event="change" execute="org_1Layer" render="org_2Layer"/>
                                    </p:selectOneMenu><br></br>
                                    <p:outputLabel style="width: 20%" id="layer2" value="目的事業主管機關名稱："/>
                                    <p:selectOneMenu id="org_2Layer" disabled="#{create_Org.layerCode() lt 2}"
                                                     value="#{create_Org.selectedOrg_Code2Layer}">
                                        <f:selectItems value="#{create_Org.specific_Org2Layer}"/>
                                        <f:ajax event="change" execute="org_2Layer" render="org_3Layer"/>
                                    </p:selectOneMenu><br></br>
                                    <p:outputLabel style="width: 20%" id="layer3" value="運用單位名稱："/>
                                    <p:selectOneMenu id="org_3Layer" disabled="#{create_Org.layerCode() lt 3}"
                                                     value="#{create_Org.selectedOrg_Code3Layer}">
                                        <f:selectItems value="#{create_Org.specific_Org3Layer}"/>
                                        <f:ajax event="change"  execute="org_3Layer"/>
                                    </p:selectOneMenu><br></br>
                                </td>
                            </tr>
                            <tr>
                                <td class="alert-danger">欲新增的子層單位名稱</td>
                                <td>
                                    <p:inputText id="orgName"
                                                size="20" 
                                                 maxlength="20" 
                                                 required="true" 
                                                 requiredMessage="請輸入欲新增的子層單位名稱" 
                                                 value="#{create_Org.orgName}"
                                                 validator="#{orgNameCheck.checkValidate}"/>
                                    <h:outputLabel class="alert-danger" id="check_msg" for="orgName" value="#{orgNameCheck.checkMsg}"/>
                                </td>
                            </tr>
                        </table>
                        
                        <h:commandButton class="btn-primary" style="width:60px;height:40px" value="儲存" action="#{create_Org.save}"/>
                        <h:commandButton class="btn-primary" style="width:60px;height:40px" value="清除">
                            <f:ajax event="click" execute="@this" render="form" listener="#{create_Org.reset()}"/>
                        </h:commandButton>

                    </h:form>
                </section>
            </div>
        </div>
        <!--footer-->
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <ui:insert name="footer" />
            </div>
        </nav>
        <!--Load jquery-->
        <!--<script scr="https://code.jquery.com/jquery-1.11.1.min.js"></script>-->
        <!--<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>-->
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
                integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
        </script>
    </h:body>
</html>

