<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <!-- Latest compiled and minified CSS -->
        <link href="../../css/growl.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
              crossorigin="anonymous"/>
        <!-- Optional theme -->
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" 
              crossorigin="anonymous"/>
        <style>

            body {height: 1200px; margin-top: 40px}
        </style>
        <script src="../../zh_cn.js" type="text/javascript"></script>
        <title>#{msg.title}</title>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/templates/pageHeader.xhtml" />
        <!--Navigation bar-->
        <ui:include src="/WEB-INF/templates/navBar.xhtml" />

        <div class="container-fluid">
            <div class="row">
                <section id="sideBarLeft" class="col-md-3 col-lg-3">
                    <ui:insert name="sideMenu">
                        <ui:include src="/WEB-INF/templates/menu.xhtml" />
                    </ui:insert>
                </section>

                <section id="content" class="col-md-9 col-lg-9">
                    <!--Templates-->
                    <h:form id="form">
                        <p:growl id="msgs" showDetail="true" />
                        <p:contextMenu for="Orgs">
                            <p:menuitem value="查看" icon="ui-icon-search" action="#{update_Org.ViewOrg}" ajax="false"/>
                            <p:menuitem>
                                <p:commandLink styleClass="ui-menuitem-link" action="#{ContextMenuView.deleteOrg()}" update="Org" ajax="false">
                                    <h:outputText styleClass="ui-menuitem-icon ui-icon ui-icon-close"/>
                                    <h:outputText styleClass="ui-menuitem-text" value="刪除" />
                                    <p:confirm header="確認視窗" message="該單位下層單位以及相關志工資料皆會被刪除，是否仍確定要刪除此筆資料?" icon="ui-icon-alert" />
                                </p:commandLink>
                            </p:menuitem>
                        </p:contextMenu>
                        <p:dataTable id="Orgs" 
                                     value="#{ContextMenuView.allOrg}"
                                     var="o"
                                     rowKey="#{o.id}"
                                     selection="#{ContextMenuView.selectedOrg}"
                                     selectionMode="single"
                                     paginator="true"
                                     rows="10">
                            <p:column filterBy="#{o.orgName}" filterMatchMode="contains" style="width: 25%"> 
                                <f:facet name="header">單位名稱</f:facet>
                                <h:outputText value="#{o.orgName}"/>
                            </p:column>
                            <p:column filterBy="#{o.contactName}" filterMatchMode="contains" style="width: 25%"> 
                                <f:facet name="header">單位連絡人姓名</f:facet>
                                <h:outputText value="#{o.contactName}"/>
                            </p:column>
                            <p:column style="width: 25%">
                                <f:facet name="header">父層組織單位</f:facet>
                                <h:outputText value="#{ContextMenuView.getConvertParentCode(o.parentCode)}"/>
                            </p:column>
                            <p:column filterBy="#{o.status}" filterMatchMode="contains" style="width: 25%"> 
                                <f:facet name="header">單位狀態</f:facet>
                                <h:outputText value="#{o.status}"/>
                            </p:column>
                        </p:dataTable>
                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" >
                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                        </p:confirmDialog>
                    </h:form>
                </section>
            </div>
        </div>
        <!--footer-->
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <ui:insert name="footer" />
            </div>
        </nav>
        <!--Load jquery-->
        <!--<script scr="https://code.jquery.com/jquery-1.11.1.min.js"></script>-->
        <!--<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>-->
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </h:body>
</html>

