<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <!-- Latest compiled and minified CSS -->
        <link href="../../css/growl.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
              crossorigin="anonymous"/>
        <!-- Optional theme -->
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" 
              crossorigin="anonymous"/>
        <style>

            body {height: 1200px; margin-top: 40px}
        </style>
        <script src="../../zh_cn.js" type="text/javascript"></script>
        <title>#{msg.title}</title>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/templates/pageHeader.xhtml" />
        <!--Navigation bar-->
        <ui:include src="/WEB-INF/templates/navBar.xhtml" />

        <div class="container-fluid">
            <div class="row">
                <section id="sideBarLeft" class="col-md-3 col-lg-3">
                    <ui:insert name="sideMenu">
                        <ui:include src="/WEB-INF/templates/menu.xhtml" />
                    </ui:insert>
                </section>

                <section id="content" class="col-md-9 col-lg-9">
                    <!--Templates-->
                    <h:form id="form">
                        <p:growl id="msgs" showDetail="true" />
                        <!--<caption>志工基本資料</caption>-->
                        <p:contextMenu for="volunteers">
                            <p:menuitem value="查看" icon="ui-icon-search" action="#{update_volunteer.ViewVolunteer}" ajax="false"/>
                            <p:menuitem>
                                <p:commandLink styleClass="ui-menuitem-link" action="#{ContextMenuView.deleteVolunteer}" update="volunteers" ajax="false">
                                    <h:outputText styleClass="ui-menuitem-icon ui-icon ui-icon-close" />
                                    <h:outputText styleClass="ui-menuitem-text" value="刪除" />
                                    <p:confirm header="確認視窗" message="是否確定要刪除此筆資料?" icon="ui-icon-alert" />
                                </p:commandLink>
                            </p:menuitem>
                        </p:contextMenu>
                        <p:dataTable id="volunteers" 
                                     value="#{ContextMenuView.allVolunteers}"
                                     var="v"
                                     rowKey="#{v.id}"
                                     selection="#{ContextMenuView.selectedVolunteer}"
                                     selectionMode="single"
                                     paginator="true"
                                     rows="10">
                            <p:column filterBy="#{v.idNumber}" filterMatchMode="contains" style="width: 35%">
                                <f:facet name="header">身分證字號</f:facet>
                                <h:outputText value="#{v.idNumber}"/>
                            </p:column>
                            <p:column filterBy="#{v.name}" filterMatchMode="contains" style="width: 35%"> 
                                <f:facet name="header">姓名</f:facet>
                                <h:outputText value="#{v.name}"/>
                            </p:column>
                            <p:column headerText="國籍" width="0" styleClass="hidden">
                                <h:outputText value="#{v.nationality}"/>
                            </p:column>
                            <p:column headerText="國籍細項" width="0" styleClass="hidden">
                                <h:outputText value="#{v.detail_Nationality}"/>
                            </p:column>
                            <p:column headerText="其他國籍說明" width="0" styleClass="hidden">
                                <h:outputText value="#{v.other_Detail_Nationality}"/>
                            </p:column>
                            <p:column headerText="民國前" width="0" styleClass="hidden">
                                <h:outputText value="#{v.republic}"/>
                            </p:column>
                            <p:column headerText="出生日期" width="0" styleClass="hidden">
                                <h:outputText value="#{ContextMenuView.getConvertDate_7(v.birthday)}"/>
                            </p:column>
                            <p:column headerText="性別" width="0" styleClass="hidden">
                                <h:outputText value="#{v.sex}"/>
                            </p:column>
                            <p:column headerText="是否為原住民" width="0" styleClass="hidden">
                                <h:outputText value="#{v.aboriginal}"/>
                            </p:column>
                            <p:column headerText="婚姻狀況" width="0" styleClass="hidden">
                                <h:outputText value="#{v.marriage}"/>
                            </p:column>
                            <p:column headerText="服務項目" width="0" styleClass="hidden">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="專長一" width="0" styleClass="hidden">
                                <h:outputText value="#{v.specialty}"/>
                            </p:column>
                            <p:column headerText="專長二" width="0" styleClass="hidden">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="專長三" width="0" styleClass="hidden">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="密碼" width="0" styleClass="hidden">
                                <h:outputText value="#{v.password}"/>
                            </p:column>
                            <p:column headerText="是否加入救災志工" width="0" styleClass="hidden">
                                <h:outputText value="#{v.disaster_Relief}"/>
                            </p:column>
                            <p:column headerText="職業類別" width="0" styleClass="hidden">
                                <h:outputText value="#{v.occupation}"/>
                            </p:column>
                            <p:column headerText="學歷" width="0" styleClass="hidden">
                                <h:outputText value="#{v.educational_Background}"/>
                            </p:column>
                            <p:column headerText="電子郵件" width="0" styleClass="hidden">
                                <h:outputText value="#{v.e_mail}"/>
                            </p:column>
                            <p:column headerText="戶籍郵遞區號" width="0" styleClass="hidden">
                                <h:outputText value="#{v.address_Residence_Postal_Code}"/>
                            </p:column>
                            <p:column headerText="戶籍縣市代碼" width="0" styleClass="hidden">
                                <h:outputText value="#{v.address_Residence_City}"/>
                            </p:column>
                            <p:column headerText="戶籍鄉鎮代碼" width="0" styleClass="hidden">
                                <h:outputText value="#{v.address_Residence_Area}"/>
                            </p:column>
                            <p:column headerText="戶籍村里代碼" width="0" styleClass="hidden">
                                <h:outputText value="#{v.address_Residence_Village}"/>
                            </p:column>
                            <p:column headerText="戶籍鄰" width="0" styleClass="hidden">
                                <h:outputText value="#{v.address_Residence_Neighborhood}"/>
                            </p:column>
                            <p:column headerText="戶籍街路門牌" width="0" styleClass="hidden">
                                <h:outputText value="#{v.address_Residence_Road_No}"/>
                            </p:column>
                            <p:column headerText="聯絡地址" width="0" styleClass="hidden">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="聯絡電話1" width="0" styleClass="hidden">
                                <h:outputText value="#{v.phone}"/>
                            </p:column>
                            <p:column headerText="手機1" width="0" styleClass="hidden">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="聯絡電話2" width="0" styleClass="hidden">
                                <h:outputText value="#{v.phone}"/>
                            </p:column>
                            <p:column headerText="手機2" width="0" styleClass="hidden">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="自我介紹" width="0" styleClass="hidden">
                                <h:outputText value="#{v.self_Introduction}"/>
                            </p:column>
                            <p:column headerText="最早服務起始日" width="0" styleClass="hidden">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="備註" width="0" styleClass="hidden">
                                <h:outputText value="#{v.remark}"/>
                            </p:column>
                            <p:column headerText="收編狀態" width="0" styleClass="hidden">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="加入志工隊日期" width="0" styleClass="hidden">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="志工編號" width="0" styleClass="hidden">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="志工職稱" width="0" styleClass="hidden">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="志工身份別" width="0" styleClass="hidden">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="可服務日期起" width="0" styleClass="hidden">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="可服務日期迄" width="0" styleClass="hidden">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="可服務時段" width="0" styleClass="hidden">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column exportable="false" style="width: 30.15%">
                                <f:facet name="header">年齡</f:facet>
                                <h:outputText value="#{ContextMenuView.getAge(v.birthday)}" style="padding-top: 0; padding-bottom: 0;"/>
                            </p:column>
                        </p:dataTable>
                        <h:commandLink id="excel">
                            <!--<p:graphicImage name="#{resource['images/excel.png']}"/>-->
                            <img alt="Brand" src="#{resource['images/excel.png']}" height="30px" />
                            <p:dataExporter type="xls" target="volunteers" fileName="Volunteers" />
                        </h:commandLink>
                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" >
                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                        </p:confirmDialog>
                    </h:form>
                </section>
            </div>
        </div>
        <!--footer-->
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <ui:insert name="footer" />
            </div>
        </nav>
        <!--Load jquery-->
        <!--<script scr="https://code.jquery.com/jquery-1.11.1.min.js"></script>-->
        <!--<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>-->
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </h:body>
</html>

