<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/templates/masterLayout.xhtml">
            <ui:define name="contents">   
                <!--Templates-->
                <h:form>
                    <table class="table">
                        <caption>修改志工基本資料</caption>
                        <tr>
                            <td class="alert-danger">身分證字號</td>
                            <td>
                                <h:selectOneMenu id="nationality" value="#{update_volunteer.nationality}">
                                    <f:selectItem itemValue="1" itemLabel="本國籍"/>
                                    <f:selectItem itemValue="2" itemLabel="大陸籍"/>
                                    <f:selectItem itemValue="3" itemLabel="其他國籍"/>
                                    <f:ajax event="change" execute="nationality" render="d_nationalityWrapper idMaxL"/>
                                </h:selectOneMenu>
                                <h:panelGroup id="d_nationalityWrapper">
                                    <h:selectOneMenu value="#{update_volunteer.detail_Nationality}" rendered="#{update_volunteer.nationality == 3}">
                                        <f:selectItem itemValue="" itemLabel=""/>
                                        <f:selectItem itemValue="01" itemLabel="越籍"/>
                                        <f:selectItem itemValue="02" itemLabel="印籍"/>
                                        <f:selectItem itemValue="03" itemLabel="菲籍"/>
                                        <f:selectItem itemValue="04" itemLabel="泰籍"/>
                                        <f:selectItem itemValue="05" itemLabel="緬籍"/>
                                        <f:selectItem itemValue="06" itemLabel="柬埔寨"/>
                                        <f:selectItem itemValue="99" itemLabel="其他"/>
                                    </h:selectOneMenu>
                                </h:panelGroup>
                                <p:inputText id="idMaxL" disabled="true" size="15" value="#{update_volunteer.idNumber}" 
                                             maxlength="#{update_volunteer.nationality == 1 or null ? 10 : 20}" 
                                             required="true"
                                             requiredMessage="必填"
                                             validator="#{idNumberCheck.idCheckValidate}"
                                             /><h:message class="alert-danger" for="idMaxL"/>
                                <h:outputLabel class="alert-danger" id="check_id_msg" for="idMaxL" value="#{idNumberCheck.checkIdMsg}"/>
                                其他國籍說明
                                <p:inputText size="10" value="#{update_volunteer.other_Detail_Nationality}"/></td>
                            <td>原住民</td>
                            <td><p:selectBooleanCheckbox value="#{update_volunteer.aboriginal}"/></td>
                        </tr>
                        <tr>
                            <td class="alert-danger">姓名</td>
                            <td><p:inputText id="name" value="#{update_volunteer.name}" required="true" requiredMessage="必填"/>
                                <h:message class="alert-danger" for="name"/></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="alert-info">更換密碼</td>
                            <td>
                                <p:password id="p" value="#{update_volunteer.password}"></p:password>           
                                <p:outputLabel value="(若不輸入，預設為身分證)"/>
                            </td>
                            <td class="alert-info">密碼確認</td>
                            <td><p:password id="p_check" value="#{update_volunteer.password_Confirm}"/></td>
                        </tr>
                        <tr>
                            <td class="alert-danger">出生日期</td>
                            <td><h:selectBooleanCheckbox value="#{update_volunteer.republic}"/>民國前
                                <input id="date" type="date" jsf:value="#{update_volunteer.birthday}" required="true"/>
                            </td>
                            <td class="alert-danger">性別</td>
                            <td><h:selectOneMenu value="#{update_volunteer.sex}">
                                    <f:selectItem itemValue="1" itemLabel="男"/>
                                    <f:selectItem itemValue="2" itemLabel="女"/>
                                </h:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td class="alert-info">E-MAIL</td>
                            <td><p:inputText value="#{update_volunteer.e_mail}">
                                    <f:validateRegex pattern="([a-zA-Z0-9_]+@[a-zA-Z0-9\._]+)?"/>    
                                </p:inputText>
                            </td>
                            <td class="alert-danger">是否加入救災</td>
                            <td><h:selectOneRadio value="#{update_volunteer.disaster_Relief}">
                                    <f:selectItem itemValue="Y" itemLabel="是"/>
                                    <f:selectItem itemValue="N" itemLabel="否" />
                                </h:selectOneRadio></td>
                        </tr>
                        <tr>
                            <td class="alert-danger">職業</td>
                            <td><h:selectOneMenu id="occu" value="#{update_volunteer.occupation}" required="true"  requiredMessage="必填">
                                    <f:selectItem itemValue="" itemLabel=""/>
                                    <f:selectItem itemValue="01" itemLabel="工商人士"/>
                                    <f:selectItem itemValue="02" itemLabel="公教人員"/>
                                    <f:selectItem itemValue="03" itemLabel="退休非公教人員"/>
                                    <f:selectItem itemValue="04" itemLabel="家管"/>
                                    <f:selectItem itemValue="05" itemLabel="學生"/>
                                    <f:selectItem itemValue="06" itemLabel="退休公教人員"/>
                                    <f:selectItem itemValue="99" itemLabel="其他"/>
                                </h:selectOneMenu><h:message class="alert-danger" for="occu"/>
                            </td>
                            <td class="alert-danger">學歷</td>
                            <td><h:selectOneMenu id="edu_backg" value="#{update_volunteer.educational_Background}" required="true"  requiredMessage="必填">
                                    <f:selectItem itemValue="" itemLabel=""/>
                                    <f:selectItem itemValue="01" itemLabel="博士"/>
                                    <f:selectItem itemValue="02" itemLabel="碩士"/>
                                    <f:selectItem itemValue="03" itemLabel="大學"/>
                                    <f:selectItem itemValue="04" itemLabel="專科"/>
                                    <f:selectItem itemValue="05" itemLabel="高中"/>
                                    <f:selectItem itemValue="06" itemLabel="職校"/>
                                    <f:selectItem itemValue="07" itemLabel="國中"/>
                                    <f:selectItem itemValue="08" itemLabel="小學"/>
                                    <f:selectItem itemValue="99" itemLabel="其他"/>
                                </h:selectOneMenu><h:message class="alert-danger" for="edu_backg"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="alert-danger">專長</td>
                            <td>
                                <h:selectOneMenu id="specialty" value="#{update_volunteer.specialty}" required="true"  requiredMessage="必填">
                                    <f:selectItems value="#{update_volunteer.allSpecialty}"/>
                                </h:selectOneMenu><h:message class="alert-danger" for="specialty"/>
                            </td>
                            <td class="alert-info">婚姻狀況</td>
                            <td><h:selectOneMenu value="#{update_volunteer.marriage}">
                                    <f:selectItem itemValue="1" itemLabel="未婚"/>
                                    <f:selectItem itemValue="2" itemLabel="有婚"/>
                                    <f:selectItem itemValue="3" itemLabel="離婚"/>
                                    <f:selectItem itemValue="4" itemLabel="喪偶"/>
                                </h:selectOneMenu></td>
                        </tr>
                        <tr>
                            <td class="alert-info">戶籍地址</td>
                            <td colspan="3">
                                <p:inputText id="zipCode" disabled="true" size="1" value="#{update_volunteer.address_Residence_Postal_Code}"/>

                                <h:selectOneMenu id="city" 
                                                 value="#{update_volunteer.address_Residence_City}" 
                                                 valueChangeListener="#{update_volunteer.selectChange_City}">
                                    <f:selectItems value="#{update_volunteer.allCity}"/>
                                    <f:ajax event="change" execute="city" render="area"/>
                                </h:selectOneMenu>

                                <h:selectOneMenu id="area" 
                                                 value="#{update_volunteer.address_Residence_Area}" 
                                                 valueChangeListener="#{update_volunteer.selectChange_Area}">
                                    <f:selectItems value="#{update_volunteer.specific_Area}"/>
                                    <f:ajax event="change" execute="area" render="zipCode village"/>
                                </h:selectOneMenu>
                                <h:selectOneMenu id="village" value="#{update_volunteer.address_Residence_Village}"
                                                 valueChangeListener="#{update_volunteer.selectChange_Village}">
                                    <f:selectItems value="#{update_volunteer.specific_Village}"/>
                                    <f:ajax event="change" execute="village"/>
                                </h:selectOneMenu>
                                <p:inputText id="neighborhood" size="2" value="#{update_volunteer.address_Residence_Neighborhood}"
                                             valueChangeListener="#{update_volunteer.Change_Neighborhood}">
                                    <f:ajax event="change" execute="neighborhood"/>
                                </p:inputText>鄰
                                <p:inputText id="road_no" size="35" value="#{update_volunteer.address_Residence_Road_No}"
                                             valueChangeListener="#{update_volunteer.Change_Road_No}">
                                    <f:ajax event="change" execute="road_no"/>
                                </p:inputText>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="alert-info">通訊地址</td>
                            <td colspan="3">
                                <p:selectBooleanCheckbox id="SameWithResidence" value="#{update_volunteer.sameWithResidence}"> 
                                    <!--zipCode city area village neighborhood road_no-->
                                    <f:ajax event="change" execute="SameWithResidence" render="address_mailing" listener="#{update_volunteer.SetMailing(event)}"/>
                                </p:selectBooleanCheckbox>同戶籍
                                <p:inputText size="40" id="address_mailing" value="#{update_volunteer.address_Mailing}"/>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="alert-info">聯絡電話</td>
                            <td>
                                號碼1：<p:inputText value="#{update_volunteer.phone}"/>
                                號碼2：<p:inputText value="#{update_volunteer.phone2}"/>
                            </td>
                            <td class="alert-info">最早服務起始日</td>
                            <td>
                                <input id="date" type="date" jsf:value="#{update_volunteer.the_Earliest_starting_Date_Service}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="alert-info">自我介紹</td>
                            <td>
                                <p:inputTextarea value="#{update_volunteer.self_Introduction}"/>
                            </td>
                            <td class="alert-info">備註</td>
                            <td>
                                <p:inputTextarea value="#{update_volunteer.remark}"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">加入志工隊資料</td>
                        </tr>
                        <tr>
                            <td class="alert-danger">志工隊</td>
                            <td>
                                <p:inputText value="#{update_volunteer.org_name}" disabled="true" ></p:inputText>
                            </td>
                            <td class="alert-danger">加入志工隊日期</td>
                            <td>
                                <input id="date" type="date" jsf:value="#{update_volunteer.join_Date}" required="true"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="alert-danger">志工類別</td>
                            <td><h:selectOneMenu value="#{update_volunteer.volunteer_Identity}" required="true">
                                    <f:selectItem itemValue="V" itemLabel="志工"/>
                                    <f:selectItem itemValue="L" itemLabel="志工隊隊長"/>
                                    <f:selectItem itemValue="P" itemLabel="志工隊副隊長"/>
                                </h:selectOneMenu>
                            </td>
                            <td class="alert-danger">收編狀態</td>
                            <td><h:selectOneMenu value="#{update_volunteer.incorporation}" required="true">
                                    <f:selectItem itemValue="Y" itemLabel="收編"/>
                                    <f:selectItem itemValue="N" itemLabel="離隊"/>
                                </h:selectOneMenu>
                            </td>

                        </tr>
                        <tr>
                            <td class="alert-danger">服務項目</td>
                            <td colspan="3">
                                <p:selectManyCheckbox layout="grid" columns="10" value="#{update_volunteer.service_Items}" required="true">
                                    <f:selectItem itemValue="0010" itemLabel="綜合服務"/>
                                    <f:selectItem itemValue="0020" itemLabel="民政服務"/>
                                    <f:selectItem itemValue="0030" itemLabel="戶政服務"/>
                                    <f:selectItem itemValue="0040" itemLabel="役政服務"/>
                                    <f:selectItem itemValue="0050" itemLabel="身障服務"/>
                                    <f:selectItem itemValue="0060" itemLabel="老人服務"/>
                                    <f:selectItem itemValue="0070" itemLabel="婦女服務"/>
                                    <f:selectItem itemValue="0080" itemLabel="少年服務"/>
                                    <f:selectItem itemValue="0090" itemLabel="兒童服務"/>
                                    <f:selectItem itemValue="0100" itemLabel="諮商輔導"/>
                                    <f:selectItem itemValue="0110" itemLabel="醫院社會"/>
                                    <f:selectItem itemValue="0120" itemLabel="家庭服務"/>
                                    <f:selectItem itemValue="0130" itemLabel="社區服務"/>
                                    <f:selectItem itemValue="0140" itemLabel="地政服務"/>
                                    <f:selectItem itemValue="0150" itemLabel="性侵害防治"/>
                                    <f:selectItem itemValue="0160" itemLabel="家暴防治"/>
                                    <f:selectItem itemValue="0170" itemLabel="警政服務"/>
                                    <f:selectItem itemValue="0180" itemLabel="營建服務"/>
                                    <f:selectItem itemValue="0190" itemLabel="消防服務"/>
                                    <f:selectItem itemValue="0210" itemLabel="外交服務"/>
                                    <f:selectItem itemValue="0220" itemLabel="國防服務"/>
                                    <f:selectItem itemValue="0230" itemLabel="財政服務"/>
                                    <f:selectItem itemValue="0240" itemLabel="教育服務"/>
                                    <f:selectItem itemValue="0250" itemLabel="法務服務"/>
                                    <f:selectItem itemValue="0260" itemLabel="經濟服務"/>
                                    <f:selectItem itemValue="0270" itemLabel="交通服務"/>
                                    <f:selectItem itemValue="0280" itemLabel="蒙藏服務"/>
                                    <f:selectItem itemValue="0290" itemLabel="僑務服務"/>
                                    <f:selectItem itemValue="0300" itemLabel="主計處服務"/>
                                    <f:selectItem itemValue="0310" itemLabel="人事服務"/>
                                    <f:selectItem itemValue="0320" itemLabel="新聞服務"/>
                                    <f:selectItem itemValue="0330" itemLabel="衛生服務"/>
                                    <f:selectItem itemValue="0340" itemLabel="環保服務"/>
                                    <f:selectItem itemValue="0350" itemLabel="海巡服務"/>
                                    <f:selectItem itemValue="0360" itemLabel="陸委服務"/>
                                    <f:selectItem itemValue="0370" itemLabel="經建服務"/>
                                    <f:selectItem itemValue="0380" itemLabel="退輔服務"/>
                                    <f:selectItem itemValue="0390" itemLabel="青輔服務"/>
                                </p:selectManyCheckbox>
                            </td>
                        </tr>
                        <tr>
                            <td class="alert-info">可服務日期</td>
                            <td colspan="3" >
                                <input id="date" type="date" jsf:value="#{update_volunteer.serviceability_Start_Date}"/>~
                                <input id="date" type="date" jsf:value="#{create_volunteer.serviceability_End_Date}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="alert-info">志工編號</td>
                            <td><p:inputText value="#{update_volunteer.volunteer_ID}"/>
                            </td>
                            <td class="alert-info">志工職稱</td>
                            <td><p:inputText value="#{update_volunteer.volunteer_Title}"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">可服務的時段</td>
                        </tr>
                        <tr>
                            <td class="alert-info">可服務的時段</td>
                            <td colspan="3">
                                <p:selectManyCheckbox layout="grid" columns="7" value="#{update_volunteer.serviceability_Times}">
                                    <f:selectItem itemValue="0_1" itemLabel="星期日 上午 "/>
                                    <f:selectItem itemValue="1_1" itemLabel="星期一 上午 "/>
                                    <f:selectItem itemValue="2_1" itemLabel="星期二 上午 "/>
                                    <f:selectItem itemValue="3_1" itemLabel="星期三 上午 "/>
                                    <f:selectItem itemValue="4_1" itemLabel="星期四 上午 "/>
                                    <f:selectItem itemValue="5_1" itemLabel="星期五 上午 "/>
                                    <f:selectItem itemValue="6_1" itemLabel="星期六 上午 "/>
                                    <f:selectItem itemValue="0_2" itemLabel="星期日 下午 "/>
                                    <f:selectItem itemValue="1_2" itemLabel="星期一 下午 "/>
                                    <f:selectItem itemValue="2_2" itemLabel="星期二 下午 "/>
                                    <f:selectItem itemValue="3_2" itemLabel="星期三 下午 "/>
                                    <f:selectItem itemValue="4_2" itemLabel="星期四 下午 "/>
                                    <f:selectItem itemValue="5_2" itemLabel="星期五 下午 "/>
                                    <f:selectItem itemValue="6_2" itemLabel="星期六 下午 "/>
                                    <f:selectItem itemValue="0_3" itemLabel="星期日 晚上 "/>
                                    <f:selectItem itemValue="1_3" itemLabel="星期一 晚上 "/>
                                    <f:selectItem itemValue="2_3" itemLabel="星期二 晚上 "/>
                                    <f:selectItem itemValue="3_3" itemLabel="星期三 晚上 "/>
                                    <f:selectItem itemValue="4_3" itemLabel="星期四 晚上 "/>
                                    <f:selectItem itemValue="5_3" itemLabel="星期五 晚上 "/>
                                    <f:selectItem itemValue="6_3" itemLabel="星期六 晚上 "/>
                                </p:selectManyCheckbox>
                            </td>
                        </tr>
                    </table>

                    <h:commandButton class="btn-primary" style="width:60px;height:40px" value="更新" action="#{update_volunteer.update()}"/>
                    <h:commandButton class="btn-primary" style="width:60px;height:40px" value="清除" type="reset"/>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

