<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <!-- Latest compiled and minified CSS -->
        <link href="../../css/growl.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
              crossorigin="anonymous"/>
        <!-- Optional theme -->
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" 
              crossorigin="anonymous"/>
        <style>

            body {height: 1200px; margin-top: 40px}
        </style>
        <script src="../../zh_cn.js" type="text/javascript"></script>
        <title>#{msg.title}</title>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/templates/pageHeader.xhtml" />
        <!--Navigation bar-->
        <ui:include src="/WEB-INF/templates/navBar.xhtml" />

        <div class="container-fluid">
            <div class="row">
                <section id="sideBarLeft" class="col-md-3 col-lg-3">
                    <ui:insert name="sideMenu">
                        <ui:include src="/WEB-INF/templates/menu.xhtml" />
                    </ui:insert>
                </section>

                <section id="content" class="col-md-9 col-lg-9">
                    <!--Templates-->
                    <h:form id="form">
                        <table class="table">
                            <caption>新增志工教育訓練資料</caption>
                            <h:messages class="alert-warning" style="font-size: 30px" id="msg"/>
                            <tr>
                                <td class="alert-danger">志工單位</td>
                                <td colspan="8">
                                    <h:outputLabel value="目的事業主管機關：" rendered="#{login.isLayerAllowedAccess() == 1}"/>
                                    <h:selectOneMenu id="org_2Layer" rendered="#{login.isLayerAllowedAccess() == 1}"
                                                     value="#{getSpecificVolunteers.selectedOrg_Code2Layer}">
                                        <f:selectItems value="#{getSpecificVolunteers.specific_Org2Layer}"/>
                                        <f:ajax event="change" execute="org_2Layer" render="org_3Layer"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="運用單位：" rendered="#{login.isLayerAllowedAccess() == 1 or login.isLayerAllowedAccess() == 2}"/>
                                    <h:selectOneMenu id="org_3Layer" rendered="#{login.isLayerAllowedAccess() == 1 or login.isLayerAllowedAccess() == 2}"
                                                     value="#{getSpecificVolunteers.selectedOrg_Code3Layer}">
                                        <f:selectItems value="#{getSpecificVolunteers.specific_Org3Layer}"/>
                                        <f:ajax event="change"  execute="org_3Layer" render="org_4Layer"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="志工隊：" rendered="#{login.isLayerAllowedAccess() != 4}"/>
                                    <h:selectOneMenu id="org_4Layer" rendered="#{login.isLayerAllowedAccess() != 4}"
                                                     value="#{create_EducationTraining.org_code}">
                                        <f:selectItems value="#{getSpecificVolunteers.specific_Org4Layer}"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="志工隊：" rendered="#{login.isLayerAllowedAccess() == 4}"/>
                                    <h:selectOneMenu id="singleOrg_4Layers" rendered="#{login.isLayerAllowedAccess() == 4}"
                                                     value="#{create_EducationTraining.org_code}">
                                        <f:selectItems value="#{getSpecificVolunteers.single_Org4Layer}"/>
                                    </h:selectOneMenu>
                                    <p:growl id="growl" showDetail="true" class="ui-growl"/>
                                    <p:commandButton value="選擇志工" icon="ui-icon-extlink" actionListener="#{create_EducationTraining.chooseVolunteers}" style="margin-left: 10px">
                                        <p:ajax event="dialogReturn" listener="#{create_EducationTraining.onVolunteersChosen}" update="growl display" />
                                    </p:commandButton>
                                </td>
                            </tr>
                            <tr>
                                <td class="alert-danger">訓練日期</td>
                                <td colspan="8"> 
                                    <input id="train_s_date" type="date" jsf:value="#{create_EducationTraining.train_date_s}"/>~
                                    <input id="train_e_date" type="date" jsf:value="#{create_EducationTraining.train_date_e}"/>(訓綀日期起迄不可早於2001/1/20志願服務法成立日期)
                                </td>

                            </tr>
                            <tr>
                                <td class="alert-danger">訓練單位</td>
                                <td colspan="8"><p:inputText size="50" maxlength="50" value="#{create_EducationTraining.train_org}"/>
                                </td>

                            </tr>
                            <tr>
                                <td class="alert-danger">訓練課程</td>
                                <td colspan="4"><h:selectOneMenu id="train_course" value="#{create_EducationTraining.train_course}">
                                        <f:selectItem itemValue="" itemLabel=""/>
                                        <f:selectItem itemValue="01" itemLabel="基礎訓練"/>
                                        <f:selectItem itemValue="02" itemLabel="特殊訓練"/>
                                        <f:selectItem itemValue="03" itemLabel="成長訓練"/>
                                        <f:selectItem itemValue="04" itemLabel="領導訓練"/>
                                        <f:selectItem itemValue="05" itemLabel="督導訓練"/>
                                        <f:selectItem itemValue="99" itemLabel="其他在職訓練"/>
                                    </h:selectOneMenu><h:message class="alert-danger" for="train_course"/>
                                </td>
                                <td width="120px" class="alert-danger">訓練領域</td>
                                <td colspan="4"><h:selectOneMenu id="domain_type" value="#{create_EducationTraining.domain_type}">
                                        <f:selectItem itemValue="" itemLabel=""/>
                                        <f:selectItem itemValue="A00" itemLabel="綜合"/>
                                        <f:selectItem itemValue="B01" itemLabel="民政"/>
                                        <f:selectItem itemValue="B02" itemLabel="戶政"/>
                                        <f:selectItem itemValue="B03" itemLabel="役政"/>
                                        <f:selectItem itemValue="B04" itemLabel="社會"/>
                                        <f:selectItem itemValue="B05" itemLabel="地政"/>
                                        <f:selectItem itemValue="B06" itemLabel="性侵害防治"/>
                                        <f:selectItem itemValue="B07" itemLabel="家暴防治"/>
                                        <f:selectItem itemValue="B08" itemLabel="警政"/>
                                        <f:selectItem itemValue="B09" itemLabel="營建"/>
                                        <f:selectItem itemValue="B10" itemLabel="消防"/>
                                        <f:selectItem itemValue="B11" itemLabel="兒童"/>
                                        <f:selectItem itemValue="B12" itemLabel="勞政"/>
                                        <f:selectItem itemValue="C01" itemLabel="外交"/>
                                        <f:selectItem itemValue="C02" itemLabel="國防"/>
                                        <f:selectItem itemValue="C03" itemLabel="財政"/>
                                        <f:selectItem itemValue="C04" itemLabel="教育"/>
                                        <f:selectItem itemValue="C05" itemLabel="法務"/>
                                        <f:selectItem itemValue="C06" itemLabel="經濟"/>
                                        <f:selectItem itemValue="C07" itemLabel="交通"/>
                                        <f:selectItem itemValue="C08" itemLabel="蒙藏"/>
                                        <f:selectItem itemValue="C09" itemLabel="僑務"/>
                                        <f:selectItem itemValue="C10" itemLabel="主計處"/>
                                        <f:selectItem itemValue="C11" itemLabel="人事"/>
                                        <f:selectItem itemValue="C12" itemLabel="新聞"/>
                                        <f:selectItem itemValue="C13" itemLabel="衛生"/>
                                        <f:selectItem itemValue="C14" itemLabel="環保"/>
                                        <f:selectItem itemValue="C15" itemLabel="海巡"/>
                                        <f:selectItem itemValue="C16" itemLabel="陸委"/>
                                        <f:selectItem itemValue="C17" itemLabel="經建"/>
                                        <f:selectItem itemValue="C18" itemLabel="退輔"/>
                                        <f:selectItem itemValue="C19" itemLabel="青輔"/>
                                        <f:selectItem itemValue="C20" itemLabel="原能"/>
                                        <f:selectItem itemValue="C21" itemLabel="國科"/>
                                        <f:selectItem itemValue="C22" itemLabel="研考"/>
                                        <f:selectItem itemValue="C23" itemLabel="農委"/>
                                        <f:selectItem itemValue="C24" itemLabel="文建"/>
                                        <f:selectItem itemValue="C25" itemLabel="勞委"/>
                                        <f:selectItem itemValue="C26" itemLabel="工程"/>
                                        <f:selectItem itemValue="C27" itemLabel="公平"/>
                                        <f:selectItem itemValue="C28" itemLabel="消保"/>
                                        <f:selectItem itemValue="C29" itemLabel="原住民"/>
                                        <f:selectItem itemValue="C30" itemLabel="體委"/>
                                        <f:selectItem itemValue="C31" itemLabel="客委"/>
                                        <f:selectItem itemValue="C32" itemLabel="司法"/>
                                    </h:selectOneMenu><h:message class="alert-danger" for="domain_type"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="alert-danger">訓練次數</td>
                                <td colspan="4"><p:inputText size="2" value="#{create_EducationTraining.times}" />
                                </td>
                                <td width="120px" class="alert-danger">訓練時數</td>
                                <td colspan="4">
                                    <p:inputText size="5" value="#{create_EducationTraining.hours}" />小時
                                    <p:inputText size="2" value="#{create_EducationTraining.mins}" />分鐘
                                </td>
                            </tr>
                            <tr>
                                <td class="alert-info">課程名稱</td>
                                <td colspan="8"><p:inputText size="68" value="#{create_EducationTraining.course_name}" />
                                </td>
                            </tr>
                            <tr>
                                <td class="alert-info">備註</td>
                                <td colspan="8">
                                    <p:inputTextarea cols="70" value="#{create_EducationTraining.memo}"/>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="4" rowspan="2" class="alert-info" align="center" style="vertical-align: middle">
                                    <h:selectOneRadio id="batchOrPart" value="#{create_EducationTraining.entry}" layout="pageDirection">
                                        <f:selectItem itemLabel="批次輸入" itemValue="batch"/>
                                        <f:selectItem itemLabel="分別輸入" itemValue="part"/>
                                        <f:ajax event="click" execute="@this Approve_D_main Approve_N_main" render="display Approve_D_main Approve_N_main" listener="#{create_EducationTraining.batchAjax(event)}"/>
                                    </h:selectOneRadio>
                                </td>
                                <td  colspan="2" class="alert-danger" align="center">核定日期</td>
                                <td  colspan="2" class="alert-danger" align="center">核定字號</td>
                            </tr>
                            <tr>
                                <td  colspan="2" align="center"> 
                                    <p:calendar size="15" locale="zh_CN" pattern="yyyy/mm/dd" id="Approve_D_main" value="#{create_EducationTraining.main_approve_date}" showOn="button" disabled="#{create_EducationTraining.entry == 'part'}">
                                        <p:ajax event="dateSelect" update="display" listener="#{create_EducationTraining.batchAjax(event)}"/>    
                                    </p:calendar>
                                </td>
                                <td  colspan="2" align="center">
                                    <p:inputText id="Approve_N_main" size="30" value="#{create_EducationTraining.main_approve_name}"  disabled="#{create_EducationTraining.entry == 'part'}">
                                        <f:ajax event="blur" execute="@this" render="display" listener="#{create_EducationTraining.batchAjax(event)}"/>
                                    </p:inputText>
                                </td>
                            </tr>

                        </table>
                        <p:outputPanel id="display">
                            <p:dataTable value="#{create_EducationTraining.selectedItems}" 
                                         var="v" 
                                         rowKey="#{v.id}" 
                                         rowIndexVar="index">

                                <p:column>
                                    <f:facet name="header">選取志工</f:facet>
                                    #{v.name}(#{v.idNumber})
                                </p:column>
                                <p:column>
                                    <f:facet name="header">核定日期</f:facet>
                                    <p:calendar locale="zh_CN" pattern="yyyy/mm/dd" disabled="#{create_EducationTraining.entry == 'batch'}" id="Approve_D" value="#{create_EducationTraining.approve_date[index]}" showOn="button" />
                                </p:column>
                                <p:column>
                                    <f:facet name="header">核定字號</f:facet>
                                    <p:inputText id="Approve_N" size="30" disabled="#{create_EducationTraining.entry == 'batch'}" value="#{create_EducationTraining.approve_name[index]}"/>
                                </p:column>
                            </p:dataTable>
                        </p:outputPanel>

                        <h:commandButton class="btn-primary" style="width:60px;height:40px" value="儲存" action="#{create_EducationTraining.save()}"/>
                        <h:commandButton class="btn-primary" style="width:60px;height:40px" value="清除">
                            <f:ajax event="click" execute="@this" render="form" listener="#{create_EducationTraining.reset()}"/>
                        </h:commandButton>


                    </h:form>
                </section>
            </div>
        </div>
        <!--footer-->
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <ui:insert name="footer" />
            </div>
        </nav>
        <!--Load jquery-->
        <!--<script scr="https://code.jquery.com/jquery-1.11.1.min.js"></script>-->
        <!--<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>-->
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </h:body>
</html>

