<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <!-- Latest compiled and minified CSS -->
        <link href="../../css/growl.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
              crossorigin="anonymous"/>
        <!-- Optional theme -->
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" 
              crossorigin="anonymous"/>
        <style>

            body {height: 1200px; margin-top: 40px}
        </style>
        <script src="../../zh_cn.js" type="text/javascript"></script>
        <title>#{msg.title}</title>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/templates/pageHeader.xhtml" />
        <!--Navigation bar-->
        <ui:include src="/WEB-INF/templates/navBar.xhtml" />

        <div class="container-fluid">
            <div class="row">
                <section id="sideBarLeft" class="col-md-3 col-lg-3">
                    <ui:insert name="sideMenu">
                        <ui:include src="/WEB-INF/templates/menu.xhtml" />
                    </ui:insert>
                </section>

                <section id="content" class="col-md-9 col-lg-9">
                    <!--Templates-->
                    <h:form id="form">
                        <p:growl id="msgs" showDetail="true" />
                        <!--<caption>志工基本資料</caption>-->
                        <p:contextMenu for="ETs">
                            <p:menuitem value="查看" icon="ui-icon-search" action="#{update_ET.ViewET}" ajax="false"/>
                            <p:menuitem>
                                <p:commandLink styleClass="ui-menuitem-link" action="#{ContextMenuView.deleteET}" update="ETs" ajax="false">
                                    <h:outputText styleClass="ui-menuitem-icon ui-icon ui-icon-close" />
                                    <h:outputText styleClass="ui-menuitem-text" value="刪除" />
                                    <p:confirm header="確認視窗" message="是否確定要刪除此筆資料?" icon="ui-icon-alert" />
                                </p:commandLink>
                            </p:menuitem>
                        </p:contextMenu>
                        <p:dataTable id="ETs" 
                                     value="#{ContextMenuView.allETs}"
                                     var="et"
                                     rowKey="#{et.id}"
                                     selection="#{ContextMenuView.selectedET}"
                                     selectionMode="single"
                                     paginator="true"
                                     rows="10">
                            <p:column filterBy="#{et.name}" filterMatchMode="contains" style="width: 16.65%"> 
                                <f:facet name="header">姓名</f:facet>
                                <h:outputText value="#{et.name}"/>
                            </p:column>
                            <p:column filterBy="#{et.idNumber}" filterMatchMode="contains" style="width: 16.65%">
                                <f:facet name="header">身分證字號</f:facet>
                                <h:outputText value="#{et.idNumber}"/>
                            </p:column>
                            <p:column headerText="受訓日期起" style="width: 16.65%">
                                <h:outputText value="#{ContextMenuView.getConvertDate_7(et.train_date_s)}"/>
                            </p:column>
                            <p:column headerText="受訓日期迄" style="width: 16.65%">
                                <h:outputText value="#{ContextMenuView.getConvertDate_7(et.train_date_e)}"/>
                            </p:column>
                            <p:column headerText="訓練單位" style="width: 17%">
                                <h:outputText value="#{et.train_org}"/>
                            </p:column>
                            <p:column headerText="訓練課程" width="0" styleClass="hidden">
                                <h:outputText value="#{et.train_course}"/>
                            </p:column>
                            <p:column headerText="課程領域" width="0" styleClass="hidden">
                                <h:outputText value="#{et.domain_type}"/>
                            </p:column>
                            <p:column headerText="訓練次數" width="0" styleClass="hidden">
                                <h:outputText value="#{et.times}"/>
                            </p:column>
                            <p:column headerText="訓練時數-小時" width="0" styleClass="hidden">
                                <h:outputText value="#{et.hours}"/>
                            </p:column>
                            <p:column headerText="訓練時數-分鐘" width="0" styleClass="hidden">
                                <h:outputText value="#{et.mins}"/>
                            </p:column>
                            <p:column headerText="核定字號" width="0" styleClass="hidden">
                                <h:outputText value="#{et.approve_name}"/>
                            </p:column>
                            <p:column headerText="核定日期" width="0" styleClass="hidden">
                                <h:outputText value="#{ContextMenuView_ET.getConvertDate_7(et.approve_date)}"/>
                            </p:column>
                            <p:column headerText="課程名稱" style="width: 16.65%">
                                <h:outputText value="#{et.course_name}"/>
                            </p:column>
                            <p:column headerText="備註" width="0" styleClass="hidden">
                                <h:outputText value="#{et.memo}"/>
                            </p:column>
                            <p:column headerText="匯入動作" width="0" styleClass="hidden">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="序號" width="0" styleClass="hidden">
                                <h:outputText value=""/>
                            </p:column>
                        </p:dataTable>
                        <h:commandLink id="excel">
                            <!--<p:graphicImage name="#{resource['images/excel.png']}"/>-->
                            <img alt="Brand" src="#{resource['images/excel.png']}" height="30px" />
                            <p:dataExporter type="xls" target="ETs" fileName="EducationTraining" />
                        </h:commandLink>
                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" >
                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                        </p:confirmDialog>
                    </h:form>
                </section>
            </div>
        </div>
        <!--footer-->
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <ui:insert name="footer" />
            </div>
        </nav>
        <!--Load jquery-->
        <!--<script scr="https://code.jquery.com/jquery-1.11.1.min.js"></script>-->
        <!--<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>-->
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </h:body>
</html>

