<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>選擇志工</title>
        <style type="text/css">
            .ui-widget {
                font-size: 84%;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
            <p:dataTable id="checkboxDT" var="v" value="#{create_EducationTraining.allVolunteerItems}" selection="#{create_EducationTraining.selectedItems}" rowKey="#{v.id}" style="margin-bottom:0" paginator="true" rows="10" rowsPerPageTemplate="10,30,50">
                <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                <p:column headerText="姓名" filterBy="#{v.name}" filterMatchMode="contains">
                    <h:outputText value="#{v.name}" />
                </p:column>
                <p:column headerText="身分證字號" filterBy="#{v.idNumber}" filterMatchMode="contains">
                    <h:outputText value="#{v.idNumber}" />
                </p:column>
            </p:dataTable>

            <p:commandButton class="btn-primary" value="確認" action="#{create_EducationTraining.closeDialog}"/>
        </h:form>
    </h:body>
</html>

