<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/templates/masterLayout.xhtml">
            <ui:define name="contents">   
                <h:form id="form">
                    <table class="table">
                        <caption>修改志工教育訓練資料</caption>
                        <h:messages class="alert-warning" style="font-size: 30px" id="msg"/>
                        <tr>
                            <td class="alert-danger">志工姓名</td>
                            <td colspan="4">
                                <p:inputText value="#{update_ET.name}" disabled="true"/>
                            </td>
                            <td class="alert-danger">身分證字號</td>
                            <td colspan="4">
                                <p:inputText value="#{update_ET.idNumber}" disabled="true"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="alert-danger">訓練日期</td>
                            <td colspan="8"> 
                                <input id="train_s_date" type="date" jsf:value="#{update_ET.train_date_s}"/>~
                                <input id="train_e_date" type="date" jsf:value="#{update_ET.train_date_e}"/>(訓綀日期起迄不可早於2001/1/20志願服務法成立日期)
                            </td>

                        </tr>
                        <tr>
                            <td class="alert-danger">訓練單位</td>
                            <td colspan="8"><p:inputText size="50" maxlength="50" value="#{update_ET.train_org}"/>
                            </td>

                        </tr>
                        <tr>
                            <td class="alert-danger">訓練課程</td>
                            <td colspan="4"><h:selectOneMenu id="train_course" value="#{update_ET.train_course}">
                                    <f:selectItem itemValue="" itemLabel=""/>
                                    <f:selectItem itemValue="01" itemLabel="基礎訓練"/>
                                    <f:selectItem itemValue="02" itemLabel="特殊訓練"/>
                                    <f:selectItem itemValue="03" itemLabel="成長訓練"/>
                                    <f:selectItem itemValue="04" itemLabel="領導訓練"/>
                                    <f:selectItem itemValue="05" itemLabel="督導訓練"/>
                                    <f:selectItem itemValue="99" itemLabel="其他在職訓練"/>
                                </h:selectOneMenu><h:message class="alert-danger" for="train_course"/>
                            </td>
                            <td width="120px" class="alert-danger">訓練領域</td>
                            <td colspan="4"><h:selectOneMenu id="domain_type" value="#{update_ET.domain_type}">
                                    <f:selectItem itemValue="" itemLabel=""/>
                                    <f:selectItem itemValue="A00" itemLabel="綜合"/>
                                    <f:selectItem itemValue="B01" itemLabel="民政"/>
                                    <f:selectItem itemValue="B02" itemLabel="戶政"/>
                                    <f:selectItem itemValue="B03" itemLabel="役政"/>
                                    <f:selectItem itemValue="B04" itemLabel="社會"/>
                                    <f:selectItem itemValue="B05" itemLabel="地政"/>
                                    <f:selectItem itemValue="B06" itemLabel="性侵害防治"/>
                                    <f:selectItem itemValue="B07" itemLabel="家暴防治"/>
                                    <f:selectItem itemValue="B08" itemLabel="警政"/>
                                    <f:selectItem itemValue="B09" itemLabel="營建"/>
                                    <f:selectItem itemValue="B10" itemLabel="消防"/>
                                    <f:selectItem itemValue="B11" itemLabel="兒童"/>
                                    <f:selectItem itemValue="B12" itemLabel="勞政"/>
                                    <f:selectItem itemValue="C01" itemLabel="外交"/>
                                    <f:selectItem itemValue="C02" itemLabel="國防"/>
                                    <f:selectItem itemValue="C03" itemLabel="財政"/>
                                    <f:selectItem itemValue="C04" itemLabel="教育"/>
                                    <f:selectItem itemValue="C05" itemLabel="法務"/>
                                    <f:selectItem itemValue="C06" itemLabel="經濟"/>
                                    <f:selectItem itemValue="C07" itemLabel="交通"/>
                                    <f:selectItem itemValue="C08" itemLabel="蒙藏"/>
                                    <f:selectItem itemValue="C09" itemLabel="僑務"/>
                                    <f:selectItem itemValue="C10" itemLabel="主計處"/>
                                    <f:selectItem itemValue="C11" itemLabel="人事"/>
                                    <f:selectItem itemValue="C12" itemLabel="新聞"/>
                                    <f:selectItem itemValue="C13" itemLabel="衛生"/>
                                    <f:selectItem itemValue="C14" itemLabel="環保"/>
                                    <f:selectItem itemValue="C15" itemLabel="海巡"/>
                                    <f:selectItem itemValue="C16" itemLabel="陸委"/>
                                    <f:selectItem itemValue="C17" itemLabel="經建"/>
                                    <f:selectItem itemValue="C18" itemLabel="退輔"/>
                                    <f:selectItem itemValue="C19" itemLabel="青輔"/>
                                    <f:selectItem itemValue="C20" itemLabel="原能"/>
                                    <f:selectItem itemValue="C21" itemLabel="國科"/>
                                    <f:selectItem itemValue="C22" itemLabel="研考"/>
                                    <f:selectItem itemValue="C23" itemLabel="農委"/>
                                    <f:selectItem itemValue="C24" itemLabel="文建"/>
                                    <f:selectItem itemValue="C25" itemLabel="勞委"/>
                                    <f:selectItem itemValue="C26" itemLabel="工程"/>
                                    <f:selectItem itemValue="C27" itemLabel="公平"/>
                                    <f:selectItem itemValue="C28" itemLabel="消保"/>
                                    <f:selectItem itemValue="C29" itemLabel="原住民"/>
                                    <f:selectItem itemValue="C30" itemLabel="體委"/>
                                    <f:selectItem itemValue="C31" itemLabel="客委"/>
                                    <f:selectItem itemValue="C32" itemLabel="司法"/>
                                </h:selectOneMenu><h:message class="alert-danger" for="domain_type"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="alert-danger">訓練次數</td>
                            <td colspan="4"><p:inputText size="2" value="#{update_ET.times}" />
                            </td>
                            <td width="120px" class="alert-danger">訓練時數</td>
                            <td colspan="4">
                                <p:inputText size="5" value="#{update_ET.hours}" />小時
                                <p:inputText size="2" value="#{update_ET.mins}" />分鐘
                            </td>
                        </tr>
                        <tr>
                            <td class="alert-danger">核定日期</td>
                            <td colspan="4">
                                <input type="date" jsf:value="#{update_ET.approve_date}"/>
                            </td>
                            <td class="alert-danger">核定字號</td>
                            <td colspan="4">
                                <p:inputText value="#{update_ET.approve_name}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="alert-info">課程名稱</td>
                            <td colspan="8"><p:inputText size="68" value="#{update_ET.course_name}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="alert-info">備註</td>
                            <td colspan="8">
                                <p:inputTextarea cols="70" value="#{update_ET.memo}"/>
                            </td>
                        </tr>
                    </table>
                    <h:commandButton class="btn-primary" style="width:60px;height:40px" value="儲存" action="#{update_ET.update()}"/>
                    <h:commandButton class="btn-primary" style="width:60px;height:40px" value="清除" action="#{update_ET.reset()}"/>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

