<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <!-- Latest compiled and minified CSS -->
        <link href="../../css/growl.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
              crossorigin="anonymous"/>
        <!-- Optional theme -->
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" 
              crossorigin="anonymous"/>
        <style>

            body {height: 1200px; margin-top: 40px}
        </style>
        <script src="../../zh_cn.js" type="text/javascript"></script>
        <title>#{msg.title}</title>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/templates/pageHeader.xhtml" />
        <!--Navigation bar-->
        <ui:include src="/WEB-INF/templates/navBar.xhtml" />

        <div class="container-fluid">
            <div class="row">
                <section id="sideBarLeft" class="col-md-3 col-lg-3">
                    <ui:insert name="sideMenu">
                        <ui:include src="/WEB-INF/templates/menu.xhtml" />
                    </ui:insert>
                </section>

                <section id="content" class="col-md-9 col-lg-9">
                    <!--Templates-->
                    <h:form id="form">
                        <table class="table">
                            <caption>修改紀錄冊</caption>
                            <h:messages class="alert-warning" style="font-size: 30px" id="msg"/>
                            <tr>
                                <td class="alert-danger">志工姓名</td>
                                <td colspan="4">
                                    <p:inputText value="#{update_R.name}" disabled="true"/>
                                </td>
                                <td class="alert-danger">身分證字號</td>
                                <td colspan="4">
                                    <p:inputText value="#{update_R.idNumber}" disabled="true"/>
                                </td>
                            </tr>

                            <tr>
                                <td class="alert-danger">紀錄冊號</td>
                                <td colspan="8">
                                    <p:selectOneMenu required="true" requiredMessage="請選擇紀錄冊字" style="vertical-align: middle" value="#{update_R.rec_domain_word}">
                                        <f:selectItems value="#{create_Register.allRecDomainWord}"/>
                                    </p:selectOneMenu>字第
                                    <p:inputText size="5" maxlength="4" value="#{update_R.rec_word}"/>
                                    <p:inputText required="true" requiredMessage="請輸入紀錄冊號" size="10" maxlength="15" value="#{update_R.rec_code}"/>號
                                </td>
                            </tr>
                            <tr>
                                <td width="120px" class="alert-danger">發冊日期</td>
                                <td colspan="4">
                                    <input id="train_s_date" required="true" type="date" jsf:value="#{update_R.confer_date}"/>
                                </td>
                                <td width="120px" class="alert-danger">發冊類別</td>
                                <td colspan="4"><p:selectOneMenu required="true" requiredMessage="請選擇發冊類別" value="#{update_R.confer_type}">
                                        <f:selectItem itemValue="" itemLabel=""/>
                                        <f:selectItem itemValue="2" itemLabel="初次"/>
                                        <f:selectItem itemValue="3" itemLabel="換發"/>
                                        <f:selectItem itemValue="4" itemLabel="補發"/>
                                        <f:selectItem itemValue="5" itemLabel="註銷"/>
                                    </p:selectOneMenu>
                                </td>
                            </tr>
                            <tr>
                                <td class="alert-info">備註</td>
                                <td colspan="8">
                                    <p:inputTextarea cols="70" value="#{update_R.memo}"/>
                                </td>
                            </tr>
                        </table>


                        <h:commandButton class="btn-primary" style="width:60px;height:40px" value="儲存" action="#{update_R.update()}"/>
                        <h:commandButton class="btn-primary" style="width:60px;height:40px" value="清除">
                            <f:ajax event="click" execute="@this" render="form" listener="#{update_R.reset()}"/>
                        </h:commandButton>
                    </h:form>
                </section>
            </div>
        </div>
        <!--footer-->
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <ui:insert name="footer" />
            </div>
        </nav>
        <!--Load jquery-->
        <!--<script scr="https://code.jquery.com/jquery-1.11.1.min.js"></script>-->
        <!--<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>-->
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </h:body>
</html>

