<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
              crossorigin="anonymous"/>
        <!-- Optional theme -->
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" 
              crossorigin="anonymous"/>
        <style>

            body {height: 1200px; margin-top: 40px}
        </style>
        <script src="../../zh_cn.js" type="text/javascript"></script>
        <title>#{msg.title}</title>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/templates/pageHeader.xhtml" />
        <!--Navigation bar-->
        <ui:include src="/WEB-INF/templates/navBar.xhtml" />

        <div class="container-fluid">
            <div class="row">
                <section id="sideBarLeft" class="col-md-3 col-lg-3">
                    <ui:insert name="sideMenu">
                        <ui:include src="/WEB-INF/templates/menu.xhtml" />
                    </ui:insert>
                </section>

                <section id="content" class="col-md-9 col-lg-9">
                    <!--Templates-->
                    <h:form id="form">
                        <table class="table">
                            <caption>新增使用者</caption>
                            <h:messages class="alert-warning" style="font-size: 30px" id="msg"/>
                            <tr>
                                <td width="20%" class="alert-danger">使用者帳號</td>
                                <td>
                                    <p:inputText size="10" maxlength="20" required="true" requiredMessage="請輸入使用者帳號" value="#{create_User.account}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="alert-danger">使用者密碼</td>
                                <td>
                                    <p:password size="10" maxlength="20" required="true" requiredMessage="請輸入使用者密碼" value="#{create_User.password}"/>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" class="alert-danger">使用者密碼確認</td>
                                <td>
                                    <p:password size="10" maxlength="20" required="true" requiredMessage="請輸入使用者密碼確認" value="#{create_User.password_confirm}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="alert-danger">所在的組織單位階層</td>
                                <td>
                                    <p:selectOneMenu id="layer" required="true" requiredMessage="請選擇新使用者所在的組織單位階層" value="#{create_User.layer}">
                                        <f:selectItem itemLabel="地方主管機關" itemValue="1"/>     
                                        <f:selectItem itemLabel="目的事業主管機關" itemValue="2"/>     
                                        <f:selectItem itemLabel="運用單位" itemValue="3"/>     
                                        <f:selectItem itemLabel="志工隊" itemValue="4"/>   
                                        <f:ajax event="change" execute="layer" render="layer1 org_1Layer layer2 org_2Layer layer3 org_3Layer layer4 org_4Layer"/>
                                    </p:selectOneMenu>
                                </td>
                            </tr>
                            <tr>
                                <td class="alert-danger">請選擇組織單位名稱</td>
                                <td>
                                    <p:outputLabel style="width: 20%" id="layer1" value="地方主管機關名稱："/>
                                    <p:selectOneMenu id="org_1Layer"
                                                     value="#{create_User.selectedOrg_Code1Layer}">
                                        <f:selectItems value="#{create_User.specific_Org1Layer}"/>
                                        <f:ajax event="change" execute="org_1Layer" render="org_2Layer"/>
                                    </p:selectOneMenu><br></br>
                                    <p:outputLabel style="width: 20%" id="layer2" value="目的事業主管機關名稱："/>
                                    <p:selectOneMenu id="org_2Layer" disabled="#{create_User.layerCode() lt 2}"
                                                     value="#{create_User.selectedOrg_Code2Layer}">
                                        <f:selectItems value="#{create_User.specific_Org2Layer}"/>
                                        <f:ajax event="change" execute="org_2Layer" render="org_3Layer"/>
                                    </p:selectOneMenu><br></br>
                                    <p:outputLabel style="width: 20%" id="layer3" value="運用單位名稱："/>
                                    <p:selectOneMenu id="org_3Layer" disabled="#{create_User.layerCode() lt 3}"
                                                     value="#{create_User.selectedOrg_Code3Layer}">
                                        <f:selectItems value="#{create_User.specific_Org3Layer}"/>
                                        <f:ajax event="change"  execute="org_3Layer" render="org_4Layer"/>
                                    </p:selectOneMenu><br></br>
                                    <p:outputLabel style="width: 20%" id="layer4" value="志工隊名稱："/>
                                    <p:selectOneMenu id="org_4Layer" disabled="#{create_User.layerCode() lt 4}"
                                                     value="#{create_User.selectedOrg_Code4Layer}">
                                        <f:selectItems value="#{create_User.specific_Org4Layer}"/>
                                    </p:selectOneMenu>
                                </td>
                            </tr>
                            <tr>
                                <td class="alert-danger">套用管理者角色</td>
                                <td>
                                    <p:selectOneMenu required="true" requiredMessage="請套用管理者角色" value="#{create_User.groupID}">
                                        <f:selectItem itemLabel="最高權限管理者" itemValue="admin"/>
                                        <f:selectItem itemLabel="志工基本資料管理者" itemValue="VolunteerManager"/>
                                        <f:selectItem itemLabel="教育訓練管理者" itemValue="EduTrainingManager"/>
                                        <f:selectItem itemLabel="服務時數管理者" itemValue="HourOfServiceManager"/>
                                        <f:selectItem itemLabel="紀錄冊管理者" itemValue="RegisterManager"/>
                                    </p:selectOneMenu>
                                </td>
                            </tr>
                        </table>

                        <h:commandButton class="btn-primary" style="width:60px;height:40px" value="儲存" action="#{create_User.save}"/>
                        <h:commandButton class="btn-primary" style="width:60px;height:40px" value="清除">
                            <f:ajax event="click" execute="@this" render="form" listener="#{create_User.reset()}"/>
                        </h:commandButton>

                    </h:form>
                </section>
            </div>
        </div>
        <!--footer-->
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <ui:insert name="footer" />
            </div>
        </nav>
        <!--Load jquery-->
        <!--<script scr="https://code.jquery.com/jquery-1.11.1.min.js"></script>-->
        <!--<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>-->
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </h:body>
</html>

