<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <!-- Latest compiled and minified CSS -->
        <link href="../../css/growl.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
              crossorigin="anonymous"/>
        <!-- Optional theme -->
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" 
              crossorigin="anonymous"/>
        <style>

            body {height: 1200px; margin-top: 40px}
        </style>
        <script src="../../zh_cn.js" type="text/javascript"></script>
        <title>#{msg.title}</title>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/templates/pageHeader.xhtml" />
        <!--Navigation bar-->
        <ui:include src="/WEB-INF/templates/navBar.xhtml" />

        <div class="container-fluid">
            <div class="row">
                <section id="sideBarLeft" class="col-md-3 col-lg-3">
                    <ui:insert name="sideMenu">
                        <ui:include src="/WEB-INF/templates/menu.xhtml" />
                    </ui:insert>
                </section>

                <section id="content" class="col-md-9 col-lg-9">
                    <!--Templates-->
                    <h:form id="form">
                        <table class="table">
                            <caption>新增志工服務時數資料</caption>
                            <h:messages class="alert-warning" style="font-size: 30px" id="msg"/>
                            <tr>
                                <td colspan="2" class="alert-danger">志工單位</td>
                                <td colspan="8">
                                    <h:outputLabel value="目的事業主管機關：" rendered="#{login.isLayerAllowedAccess() == 1}"/>
                                    <h:selectOneMenu id="org_2Layer" rendered="#{login.isLayerAllowedAccess() == 1}"
                                                     value="#{getSpecificVolunteers.selectedOrg_Code2Layer}">
                                        <f:selectItems value="#{getSpecificVolunteers.specific_Org2Layer}"/>
                                        <f:ajax event="change" execute="org_2Layer" render="org_3Layer"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="運用單位：" rendered="#{login.isLayerAllowedAccess() == 1 or login.isLayerAllowedAccess() == 2}"/>
                                    <h:selectOneMenu id="org_3Layer" rendered="#{login.isLayerAllowedAccess() == 1 or login.isLayerAllowedAccess() == 2}"
                                                     value="#{getSpecificVolunteers.selectedOrg_Code3Layer}">
                                        <f:selectItems value="#{getSpecificVolunteers.specific_Org3Layer}"/>
                                        <f:ajax event="change"  execute="org_3Layer" render="org_4Layer"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="志工隊：" rendered="#{login.isLayerAllowedAccess() != 4}"/>
                                    <h:selectOneMenu id="org_4Layer" rendered="#{login.isLayerAllowedAccess() != 4}"
                                                     value="#{create_ServiceHour.org_code}">
                                        <f:selectItems value="#{getSpecificVolunteers.specific_Org4Layer}"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="志工隊：" rendered="#{login.isLayerAllowedAccess() == 4}"/>
                                    <h:selectOneMenu id="singleOrg_4Layers" rendered="#{login.isLayerAllowedAccess() == 4}"
                                                     value="#{create_ServiceHour.org_code}">
                                        <f:selectItems value="#{getSpecificVolunteers.single_Org4Layer}"/>
                                    </h:selectOneMenu>
                                    <p:growl id="growl" showDetail="true" class="ui-growl"/>
                                    <p:commandButton value="選擇志工" icon="ui-icon-extlink" actionListener="#{create_ServiceHour.chooseVolunteers}" style="margin-left: 10px">
                                        <p:ajax event="dialogReturn" listener="#{create_ServiceHour.onVolunteersChosen}" update="growl display" />
                                    </p:commandButton>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="alert-danger">服務日期</td>
                                <td colspan="8"> 
                                    <input id="service_date_s" type="date" jsf:value="#{create_ServiceHour.service_date_s}"/>~
                                    <input id="service_date_e" type="date" jsf:value="#{create_ServiceHour.service_date_e}"/>(服務日期起迄不可早於2001/1/20志願服務法成立日期)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="alert-danger">服務項目</td>
                                <td colspan="5"><h:selectOneMenu value="#{create_ServiceHour.service_item}">
                                        <f:selectItem itemValue="" itemLabel=""/>
                                        <f:selectItem itemValue="0010" itemLabel="綜合服務"/>
                                        <f:selectItem itemValue="0020" itemLabel="民政服務"/>
                                        <f:selectItem itemValue="0030" itemLabel="戶政服務"/>
                                        <f:selectItem itemValue="0040" itemLabel="役政服務"/>
                                        <f:selectItem itemValue="0050" itemLabel="身障服務"/>
                                        <f:selectItem itemValue="0060" itemLabel="老人服務"/>
                                        <f:selectItem itemValue="0070" itemLabel="婦女服務"/>
                                        <f:selectItem itemValue="0080" itemLabel="少年服務"/>
                                        <f:selectItem itemValue="0090" itemLabel="兒童服務"/>
                                        <f:selectItem itemValue="0100" itemLabel="諮商輔導"/>
                                        <f:selectItem itemValue="0110" itemLabel="醫院社會"/>
                                        <f:selectItem itemValue="0120" itemLabel="家庭服務"/>
                                        <f:selectItem itemValue="0130" itemLabel="社區服務"/>
                                        <f:selectItem itemValue="0140" itemLabel="地政服務"/>
                                        <f:selectItem itemValue="0150" itemLabel="性侵害防治"/>
                                        <f:selectItem itemValue="0160" itemLabel="家暴防治"/>
                                        <f:selectItem itemValue="0170" itemLabel="警政服務"/>
                                        <f:selectItem itemValue="0180" itemLabel="營建服務"/>
                                        <f:selectItem itemValue="0190" itemLabel="消防服務"/>
                                        <f:selectItem itemValue="0210" itemLabel="外交服務"/>
                                        <f:selectItem itemValue="0220" itemLabel="國防服務"/>
                                        <f:selectItem itemValue="0230" itemLabel="財政服務"/>
                                        <f:selectItem itemValue="0240" itemLabel="教育服務"/>
                                        <f:selectItem itemValue="0250" itemLabel="法務服務"/>
                                        <f:selectItem itemValue="0260" itemLabel="經濟服務"/>
                                        <f:selectItem itemValue="0270" itemLabel="交通服務"/>
                                        <f:selectItem itemValue="0280" itemLabel="蒙藏服務"/>
                                        <f:selectItem itemValue="0290" itemLabel="僑務服務"/>
                                        <f:selectItem itemValue="0300" itemLabel="主計處服務"/>
                                        <f:selectItem itemValue="0310" itemLabel="人事服務"/>
                                        <f:selectItem itemValue="0320" itemLabel="新聞服務"/>
                                        <f:selectItem itemValue="0330" itemLabel="衛生服務"/>
                                        <f:selectItem itemValue="0340" itemLabel="環保服務"/>
                                        <f:selectItem itemValue="0350" itemLabel="海巡服務"/>
                                        <f:selectItem itemValue="0360" itemLabel="陸委服務"/>
                                        <f:selectItem itemValue="0370" itemLabel="經建服務"/>
                                        <f:selectItem itemValue="0380" itemLabel="退輔服務"/>
                                        <f:selectItem itemValue="0390" itemLabel="青輔服務"/>
                                    </h:selectOneMenu>
                                </td>
                                <td colspan="1" class="alert-danger" >服務內容</td>
                                <td colspan="1"><h:selectOneMenu value="#{create_ServiceHour.service_content}">
                                        <f:selectItem itemValue="" itemLabel=""/>
                                        <f:selectItem itemValue="0001" itemLabel="居家(在宅)服務"/>
                                        <f:selectItem itemValue="0002" itemLabel="電話諮商"/>
                                        <f:selectItem itemValue="0003" itemLabel="櫃臺服務"/>
                                        <f:selectItem itemValue="0004" itemLabel="病探服務"/>
                                        <f:selectItem itemValue="0005" itemLabel="圖書推車服務"/>
                                        <f:selectItem itemValue="0006" itemLabel="資料整理"/>
                                        <f:selectItem itemValue="0007" itemLabel="個別課業輔導"/>
                                        <f:selectItem itemValue="0008" itemLabel="支持關懷"/>
                                        <f:selectItem itemValue="0009" itemLabel="協助就業復建"/>
                                        <f:selectItem itemValue="0010" itemLabel="生活教育輔導"/>
                                        <f:selectItem itemValue="0011" itemLabel="訪視調查"/>
                                        <f:selectItem itemValue="0012" itemLabel="租稅宣導"/>
                                        <f:selectItem itemValue="0013" itemLabel="納稅服務"/>
                                        <f:selectItem itemValue="0014" itemLabel="訴訟輔導"/>
                                        <f:selectItem itemValue="0015" itemLabel="便民服務"/>
                                        <f:selectItem itemValue="0016" itemLabel="引導諮詢現場服務"/>
                                        <f:selectItem itemValue="0017" itemLabel="環保服務"/>
                                        <f:selectItem itemValue="0018" itemLabel="測試服務"/>
                                        <f:selectItem itemValue="0019" itemLabel="圖書期刊諮詢整理"/>
                                        <f:selectItem itemValue="0020" itemLabel="支援活動服務"/>
                                        <f:selectItem itemValue="0021" itemLabel="展覽現場服務"/>
                                        <f:selectItem itemValue="0022" itemLabel="文化資產導覽"/>
                                        <f:selectItem itemValue="0023" itemLabel="老人保護"/>
                                        <f:selectItem itemValue="0024" itemLabel="食品衛生稽查"/>
                                        <f:selectItem itemValue="0025" itemLabel="個案居家探訪"/>
                                        <f:selectItem itemValue="0026" itemLabel="違規廣告監測"/>
                                        <f:selectItem itemValue="0027" itemLabel="門診服務"/>
                                        <f:selectItem itemValue="0028" itemLabel="引導服務"/>
                                        <f:selectItem itemValue="0029" itemLabel="衛生教育宣導"/>
                                        <f:selectItem itemValue="0030" itemLabel="健檢服務"/>
                                        <f:selectItem itemValue="0031" itemLabel="急診服務"/>
                                        <f:selectItem itemValue="0032" itemLabel="晨光教育服務"/>
                                        <f:selectItem itemValue="0033" itemLabel="學校圖書管理教育服務"/>
                                        <f:selectItem itemValue="0034" itemLabel="學校導護工作"/>
                                        <f:selectItem itemValue="0035" itemLabel="學校環境教育服務"/>
                                        <f:selectItem itemValue="0036" itemLabel="癌症防治"/>
                                        <f:selectItem itemValue="0037" itemLabel="藥局服務"/>
                                        <f:selectItem itemValue="0038" itemLabel="導覽接待"/>
                                        <f:selectItem itemValue="0039" itemLabel="活動支援"/>
                                        <f:selectItem itemValue="0041" itemLabel="捐血諮詢服務"/>
                                        <f:selectItem itemValue="0042" itemLabel="捐血宣導與推廣"/>
                                        <f:selectItem itemValue="0099" itemLabel="其他"/>
                                    </h:selectOneMenu>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="alert-info">服務區域</td>
                                <td colspan="8">
                                    <p:selectManyCheckbox layout="grid" columns="10" value="#{create_ServiceHour.service_area}">
                                        <f:selectItem itemValue="0" itemLabel="中央"/>
                                        <f:selectItem itemValue="A" itemLabel="台北市"/>
                                        <f:selectItem itemValue="B" itemLabel="台中市"/>
                                        <f:selectItem itemValue="C" itemLabel="基隆市"/>
                                        <f:selectItem itemValue="D" itemLabel="台南市"/>
                                        <f:selectItem itemValue="E" itemLabel="高雄市"/>
                                        <f:selectItem itemValue="F" itemLabel="新北市"/>
                                        <f:selectItem itemValue="G" itemLabel="宜蘭縣"/>
                                        <f:selectItem itemValue="H" itemLabel="桃園縣"/>
                                        <f:selectItem itemValue="I" itemLabel="嘉義市"/>
                                        <f:selectItem itemValue="J" itemLabel="新竹縣"/>
                                        <f:selectItem itemValue="K" itemLabel="苗栗縣"/>
                                        <f:selectItem itemValue="M" itemLabel="南投縣"/>
                                        <f:selectItem itemValue="N" itemLabel="彰化縣"/>
                                        <f:selectItem itemValue="O" itemLabel="新竹市"/>
                                        <f:selectItem itemValue="P" itemLabel="雲林縣"/>
                                        <f:selectItem itemValue="Q" itemLabel="嘉義縣"/>
                                        <f:selectItem itemValue="T" itemLabel="屏東縣"/>
                                        <f:selectItem itemValue="U" itemLabel="花蓮縣"/>
                                        <f:selectItem itemValue="V" itemLabel="台東縣"/>
                                        <f:selectItem itemValue="W" itemLabel="金門縣"/>
                                        <f:selectItem itemValue="X" itemLabel="澎湖縣"/>
                                        <f:selectItem itemValue="Z" itemLabel="連江縣"/>
                                    </p:selectManyCheckbox>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="alert-info">備註</td>
                                <td colspan="8">
                                    <p:inputTextarea cols="70" value="#{create_ServiceHour.memo}"/>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="5" rowspan="2"  width="150px" class="alert-info" align="center" style="vertical-align: middle">
                                    <h:selectOneRadio id="batchOrPart" value="#{create_ServiceHour.entry}" layout="pageDirection">
                                        <f:selectItem itemLabel="批次輸入" itemValue="batch"/>
                                        <f:selectItem itemLabel="分別輸入" itemValue="part"/>
                                        <f:ajax event="click" execute="@this NumberOfServicePeople_Main hour_Main min_Main TransportationExpenses_Main MealCosts_Main" render="display NumberOfServicePeople_Main hour_Main min_Main TransportationExpenses_Main MealCosts_Main" listener="#{create_ServiceHour.batchAjax(event)}"/>
                                    </h:selectOneRadio>
                                </td>
                                <td  colspan="1" class="alert-danger" align="center">受服務人次
                                    <p:commandButton icon="ui-icon-help" type="button" onclick="PF('dlg1').show();"/>
                                </td>
                                <td  colspan="1"  width="30%" class="alert-danger" align="center">服務時數</td>
                                <td  colspan="1" class="alert-danger" align="center">交通費</td>
                                <td  colspan="1" class="alert-danger" align="center">誤餐費</td>
                            </tr>
                            <tr>
                                <td  colspan="1" align="center" valign="center"> 
                                    <p:inputText id="NumberOfServicePeople_Main" size="5" value="#{create_ServiceHour.numberOfServicePeople_Main}"  disabled="#{create_ServiceHour.entry == 'part'}">
                                        <f:ajax event="blur" execute="@this" render="display" listener="#{create_ServiceHour.batchAjax(event)}"/>
                                    </p:inputText>次
                                </td>
                                <td colspan="1" style="width: 120px" align="center" valign="center">
                                    <p:inputText id="hour_Main" size="5" value="#{create_ServiceHour.hour_Main}"  disabled="#{create_ServiceHour.entry == 'part'}">
                                        <f:ajax event="blur" execute="@this" render="display" listener="#{create_ServiceHour.batchAjax(event)}"/>
                                    </p:inputText>小時
                                    <p:inputText id="min_Main" size="5" value="#{create_ServiceHour.min_Main}"  disabled="#{create_ServiceHour.entry == 'part'}">
                                        <f:ajax event="blur" execute="@this" render="display" listener="#{create_ServiceHour.batchAjax(event)}"/>
                                    </p:inputText>分鐘
                                </td>
                                <td  colspan="1" align="center" valign="center"> 
                                    <p:inputText id="TransportationExpenses_Main" size="5" value="#{create_ServiceHour.transportationExpenses_Main}"  disabled="#{create_ServiceHour.entry == 'part'}">
                                        <f:ajax event="blur" execute="@this" render="display" listener="#{create_ServiceHour.batchAjax(event)}"/>
                                    </p:inputText>元
                                </td>
                                <td  colspan="1" align="center" valign="center"> 
                                    <p:inputText id="MealCosts_Main" size="5" value="#{create_ServiceHour.mealCosts_Main}" disabled="#{create_ServiceHour.entry == 'part'}">
                                        <f:ajax event="blur" execute="@this" render="display" listener="#{create_ServiceHour.batchAjax(event)}"/>
                                    </p:inputText>元
                                </td>
                            </tr>

                        </table>
                        <p:outputPanel id="display">
                            <p:dataTable value="#{create_ServiceHour.selectedItems}" 
                                         var="v" 
                                         rowKey="#{v.id}" 
                                         rowIndexVar="index">

                                <p:column>
                                    <f:facet name="header">選取志工</f:facet>
                                    #{v.name}(#{v.idNumber})
                                </p:column>
                                <p:column style="text-align: center">
                                    <f:facet name="header">受服務人次</f:facet>
                                    <p:inputText id="NumberOfServicePeople" size="5" disabled="#{create_ServiceHour.entry == 'batch'}" value="#{create_ServiceHour.numberOfServicePeople[index]}"/>
                                </p:column>
                                <p:column style="text-align: center">
                                    <f:facet name="header">服務時數</f:facet>
                                    <p:inputText id="hour" size="5" disabled="#{create_ServiceHour.entry == 'batch'}" value="#{create_ServiceHour.hour[index]}"/>
                                    <p:inputText id="min" size="5" disabled="#{create_ServiceHour.entry == 'batch'}" value="#{create_ServiceHour.min[index]}"/>
                                </p:column>
                                <p:column style="text-align: center">
                                    <f:facet name="header">交通費</f:facet>
                                    <p:inputText id="TransportationExpenses" size="5" disabled="#{create_ServiceHour.entry == 'batch'}" value="#{create_ServiceHour.transportationExpenses[index]}"/>
                                </p:column>
                                <p:column style="text-align: center">
                                    <f:facet name="header">誤餐費</f:facet>
                                    <p:inputText id="MealCosts" size="5" disabled="#{create_ServiceHour.entry == 'batch'}" value="#{create_ServiceHour.mealCosts[index]}"/>
                                </p:column>
                            </p:dataTable>
                        </p:outputPanel>

                        <h:commandButton class="btn-primary" style="width:60px;height:40px" value="儲存" action="#{create_ServiceHour.save()}"/>
                        <h:commandButton class="btn-primary" style="width:60px;height:40px" value="清除">
                            <f:ajax event="click" execute="@this" render="form" listener="#{create_ServiceHour.reset()}"/>
                        </h:commandButton>

                        <p:dialog header="受服務人次說明" widgetVar="dlg1" appendTo="@(body)" minHeight="40">
                            <h:outputText value="受服務人次說明：" />
                        </p:dialog>

                    </h:form>
                </section>
            </div>
        </div>
        <!--footer-->
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <ui:insert name="footer" />
            </div>
        </nav>
        <!--Load jquery-->
        <!--<script scr="https://code.jquery.com/jquery-1.11.1.min.js"></script>-->
        <!--<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>-->
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </h:body>
</html>

