<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>#{msg.title}</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/templates/masterLayout.xhtml">
            <ui:define name="contents">   
                <!--Templates-->
                <h:form id="form">
                    <table class="table">
                        <caption>修改志工服務時數資料</caption>
                        <h:messages class="alert-warning" style="font-size: 30px" id="msg"/>
                        <tr>
                            <td colspan="2" class="alert-danger">志工姓名</td>
                            <td colspan="4">
                                <p:inputText value="#{update_SH.name}" disabled="true"/>
                            </td>
                            <td colspan="2" class="alert-danger">身分證字號</td>
                            <td colspan="4">
                                <p:inputText value="#{update_SH.idNumber}" disabled="true"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="alert-danger">服務日期</td>
                            <td colspan="8"> 
                                <input id="service_date_s" type="date" jsf:value="#{update_SH.service_date_s}"/>~
                                <input id="service_date_e" type="date" jsf:value="#{update_SH.service_date_e}"/>(訓綀日期起迄不可早於2001/1/20志願服務法成立日期)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="alert-danger">服務項目</td>
                            <td colspan="5"><h:selectOneMenu value="#{update_SH.service_item}">
                                    <f:selectItem itemValue="" itemLabel=""/>
                                    <f:selectItem itemValue="0010" itemLabel="綜合服務"/>
                                    <f:selectItem itemValue="0020" itemLabel="民政服務"/>
                                    <f:selectItem itemValue="0030" itemLabel="戶政服務"/>
                                    <f:selectItem itemValue="0040" itemLabel="役政服務"/>
                                    <f:selectItem itemValue="0050" itemLabel="身障服務"/>
                                    <f:selectItem itemValue="0060" itemLabel="老人服務"/>
                                    <f:selectItem itemValue="0070" itemLabel="婦女服務"/>
                                    <f:selectItem itemValue="0080" itemLabel="少年服務"/>
                                    <f:selectItem itemValue="0090" itemLabel="兒童服務"/>
                                    <f:selectItem itemValue="0100" itemLabel="諮商輔導"/>
                                    <f:selectItem itemValue="0110" itemLabel="醫院社會"/>
                                    <f:selectItem itemValue="0120" itemLabel="家庭服務"/>
                                    <f:selectItem itemValue="0130" itemLabel="社區服務"/>
                                    <f:selectItem itemValue="0140" itemLabel="地政服務"/>
                                    <f:selectItem itemValue="0150" itemLabel="性侵害防治"/>
                                    <f:selectItem itemValue="0160" itemLabel="家暴防治"/>
                                    <f:selectItem itemValue="0170" itemLabel="警政服務"/>
                                    <f:selectItem itemValue="0180" itemLabel="營建服務"/>
                                    <f:selectItem itemValue="0190" itemLabel="消防服務"/>
                                    <f:selectItem itemValue="0210" itemLabel="外交服務"/>
                                    <f:selectItem itemValue="0220" itemLabel="國防服務"/>
                                    <f:selectItem itemValue="0230" itemLabel="財政服務"/>
                                    <f:selectItem itemValue="0240" itemLabel="教育服務"/>
                                    <f:selectItem itemValue="0250" itemLabel="法務服務"/>
                                    <f:selectItem itemValue="0260" itemLabel="經濟服務"/>
                                    <f:selectItem itemValue="0270" itemLabel="交通服務"/>
                                    <f:selectItem itemValue="0280" itemLabel="蒙藏服務"/>
                                    <f:selectItem itemValue="0290" itemLabel="僑務服務"/>
                                    <f:selectItem itemValue="0300" itemLabel="主計處服務"/>
                                    <f:selectItem itemValue="0310" itemLabel="人事服務"/>
                                    <f:selectItem itemValue="0320" itemLabel="新聞服務"/>
                                    <f:selectItem itemValue="0330" itemLabel="衛生服務"/>
                                    <f:selectItem itemValue="0340" itemLabel="環保服務"/>
                                    <f:selectItem itemValue="0350" itemLabel="海巡服務"/>
                                    <f:selectItem itemValue="0360" itemLabel="陸委服務"/>
                                    <f:selectItem itemValue="0370" itemLabel="經建服務"/>
                                    <f:selectItem itemValue="0380" itemLabel="退輔服務"/>
                                    <f:selectItem itemValue="0390" itemLabel="青輔服務"/>
                                </h:selectOneMenu>
                            </td>
                            <td colspan="1" class="alert-danger" >服務內容</td>
                            <td colspan="1"><h:selectOneMenu value="#{update_SH.service_content}">
                                    <f:selectItem itemValue="" itemLabel=""/>
                                    <f:selectItem itemValue="0001" itemLabel="居家(在宅)服務"/>
                                    <f:selectItem itemValue="0002" itemLabel="電話諮商"/>
                                    <f:selectItem itemValue="0003" itemLabel="櫃臺服務"/>
                                    <f:selectItem itemValue="0004" itemLabel="病探服務"/>
                                    <f:selectItem itemValue="0005" itemLabel="圖書推車服務"/>
                                    <f:selectItem itemValue="0006" itemLabel="資料整理"/>
                                    <f:selectItem itemValue="0007" itemLabel="個別課業輔導"/>
                                    <f:selectItem itemValue="0008" itemLabel="支持關懷"/>
                                    <f:selectItem itemValue="0009" itemLabel="協助就業復建"/>
                                    <f:selectItem itemValue="0010" itemLabel="生活教育輔導"/>
                                    <f:selectItem itemValue="0011" itemLabel="訪視調查"/>
                                    <f:selectItem itemValue="0012" itemLabel="租稅宣導"/>
                                    <f:selectItem itemValue="0013" itemLabel="納稅服務"/>
                                    <f:selectItem itemValue="0014" itemLabel="訴訟輔導"/>
                                    <f:selectItem itemValue="0015" itemLabel="便民服務"/>
                                    <f:selectItem itemValue="0016" itemLabel="引導諮詢現場服務"/>
                                    <f:selectItem itemValue="0017" itemLabel="環保服務"/>
                                    <f:selectItem itemValue="0018" itemLabel="測試服務"/>
                                    <f:selectItem itemValue="0019" itemLabel="圖書期刊諮詢整理"/>
                                    <f:selectItem itemValue="0020" itemLabel="支援活動服務"/>
                                    <f:selectItem itemValue="0021" itemLabel="展覽現場服務"/>
                                    <f:selectItem itemValue="0022" itemLabel="文化資產導覽"/>
                                    <f:selectItem itemValue="0023" itemLabel="老人保護"/>
                                    <f:selectItem itemValue="0024" itemLabel="食品衛生稽查"/>
                                    <f:selectItem itemValue="0025" itemLabel="個案居家探訪"/>
                                    <f:selectItem itemValue="0026" itemLabel="違規廣告監測"/>
                                    <f:selectItem itemValue="0027" itemLabel="門診服務"/>
                                    <f:selectItem itemValue="0028" itemLabel="引導服務"/>
                                    <f:selectItem itemValue="0029" itemLabel="衛生教育宣導"/>
                                    <f:selectItem itemValue="0030" itemLabel="健檢服務"/>
                                    <f:selectItem itemValue="0031" itemLabel="急診服務"/>
                                    <f:selectItem itemValue="0032" itemLabel="晨光教育服務"/>
                                    <f:selectItem itemValue="0033" itemLabel="學校圖書管理教育服務"/>
                                    <f:selectItem itemValue="0034" itemLabel="學校導護工作"/>
                                    <f:selectItem itemValue="0035" itemLabel="學校環境教育服務"/>
                                    <f:selectItem itemValue="0036" itemLabel="癌症防治"/>
                                    <f:selectItem itemValue="0037" itemLabel="藥局服務"/>
                                    <f:selectItem itemValue="0038" itemLabel="導覽接待"/>
                                    <f:selectItem itemValue="0039" itemLabel="活動支援"/>
                                    <f:selectItem itemValue="0041" itemLabel="捐血諮詢服務"/>
                                    <f:selectItem itemValue="0042" itemLabel="捐血宣導與推廣"/>
                                    <f:selectItem itemValue="0099" itemLabel="其他"/>
                                </h:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="alert-info">服務區域</td>
                            <td colspan="8">
                                <p:selectManyCheckbox layout="grid" columns="10" value="#{update_SH.service_area}">
                                    <f:selectItem itemValue="0" itemLabel="中央"/>
                                    <f:selectItem itemValue="A" itemLabel="台北市"/>
                                    <f:selectItem itemValue="B" itemLabel="台中市"/>
                                    <f:selectItem itemValue="C" itemLabel="基隆市"/>
                                    <f:selectItem itemValue="D" itemLabel="台南市"/>
                                    <f:selectItem itemValue="E" itemLabel="高雄市"/>
                                    <f:selectItem itemValue="F" itemLabel="新北市"/>
                                    <f:selectItem itemValue="G" itemLabel="宜蘭縣"/>
                                    <f:selectItem itemValue="H" itemLabel="桃園縣"/>
                                    <f:selectItem itemValue="I" itemLabel="嘉義市"/>
                                    <f:selectItem itemValue="J" itemLabel="新竹縣"/>
                                    <f:selectItem itemValue="K" itemLabel="苗栗縣"/>
                                    <f:selectItem itemValue="M" itemLabel="南投縣"/>
                                    <f:selectItem itemValue="N" itemLabel="彰化縣"/>
                                    <f:selectItem itemValue="O" itemLabel="新竹市"/>
                                    <f:selectItem itemValue="P" itemLabel="雲林縣"/>
                                    <f:selectItem itemValue="Q" itemLabel="嘉義縣"/>
                                    <f:selectItem itemValue="T" itemLabel="屏東縣"/>
                                    <f:selectItem itemValue="U" itemLabel="花蓮縣"/>
                                    <f:selectItem itemValue="V" itemLabel="台東縣"/>
                                    <f:selectItem itemValue="W" itemLabel="金門縣"/>
                                    <f:selectItem itemValue="X" itemLabel="澎湖縣"/>
                                    <f:selectItem itemValue="Z" itemLabel="連江縣"/>
                                </p:selectManyCheckbox>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="alert-danger">受服務人次</td>
                            <td colspan="4">
                                <p:inputText value="#{update_SH.numberOfServicePeople}"/>
                            </td>
                            <td colspan="2" class="alert-danger">服務時數</td>
                            <td colspan="4">
                                <p:inputText value="#{update_SH.hours}"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="alert-danger">交通費</td>
                            <td colspan="4">
                                <p:inputText value="#{update_SH.transportationExpenses}"/>
                            </td>
                            <td colspan="2" class="alert-danger">誤餐費</td>
                            <td colspan="4">
                                <p:inputText value="#{update_SH.mealCosts}"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="alert-info">備註</td>
                            <td colspan="8">
                                <p:inputTextarea cols="70" value="#{update_SH.memo}"/>
                            </td>
                        </tr>
                    </table>

                    <h:commandButton class="btn-primary" style="width:60px;height:40px" value="儲存" action="#{update_SH.update()}"/>
                    <h:commandButton class="btn-primary" style="width:60px;height:40px" value="清除" type="reset">
                        <f:ajax event="click" execute="@this" render="form" listener="#{create_ServiceHour.reset()}"/>
                    </h:commandButton>

                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

