/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016/9/3, 下午 02:44:55
    Author     : user
*/
.ui-growl{
    position:fixed;
    top:60px !important;
    right:20px;
    width:301px;
}
