<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
              crossorigin="anonymous"/>

        <!-- Optional theme -->
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" 
              crossorigin="anonymous"/>

        <style>
            body {height: 1200px; margin-top: 40px}
        </style>

        <title>#{msg.title}</title>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/templates/pageHeader.xhtml" />
        <!--Navigation bar-->
        <ui:include src="/WEB-INF/templates/navBar.xhtml" />

        <div class="container-fluid">
            <div class="row">
                <section id="sideBarLeft" class="col-md-3 col-lg-3">
                    <ui:insert name="sideMenu">
                        <ui:include src="/WEB-INF/templates/menu.xhtml" />
                    </ui:insert>
                </section>

                <section id="content" class="col-md-9 col-lg-9">
                    <ui:insert name="contents" />
                </section>
            </div>
        </div>

        <!--footer-->
<!--        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <ui:insert name="footer" />
            </div>
        </nav>-->
        <!--Load jquery-->
        <!--<script scr="https://code.jquery.com/jquery-1.11.1.min.js"></script>-->
        <!--<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>-->
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
    </h:body>
</html>

