<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
    </h:head>
    <h:body>
        <ui:composition>
            <!--Menu area-->
            <h:form>
                <p:panelMenu>
                    <p:submenu label="志工基本資料" rendered="#{login.volunteerManagerAllowedAccess}">
                        <p:menuitem value="新增基本資料" outcome="create_volunteer" icon="ui-icon-plusthick"/>
                        <p:menuitem value="維護基本資料" outcome="search_volunteer" icon="ui-icon-wrench"/>
                    </p:submenu>
                    <p:submenu label="教育訓練資料" rendered="#{login.eduTrainingManagerAllowedAccess}">
                        <p:menuitem value="新增教育訓練" outcome="create_EducationTraining" icon="ui-icon-plusthick"/>
                        <p:menuitem value="維護教育訓練" outcome="search_EducationTraining" icon="ui-icon-wrench"/>
                    </p:submenu>
                    <p:submenu label="服務時數資料" rendered="#{login.hourOfServiceManagerAllowedAccess}">
                        <p:menuitem value="新增服務時數" outcome="create_HoursOfService" icon="ui-icon-plusthick"/>
                        <p:menuitem value="維護服務時數" outcome="search_HoursOfService" icon="ui-icon-wrench"/>
                    </p:submenu>
                    <p:submenu label="紀錄冊資料" rendered="#{login.registerManagerAllowedAccess}">
                        <p:menuitem value="新增紀錄冊" outcome="create_Register" icon="ui-icon-plusthick"/>
                        <p:menuitem value="維護紀錄冊" outcome="search_Register" icon="ui-icon-wrench"/>
                    </p:submenu>
                    <p:submenu label="使用者資料" rendered="#{login.adminAccess}">
                        <p:menuitem value="新增使用者" outcome="create_User" icon="ui-icon-plusthick"/>
                        <p:menuitem value="維護使用者" outcome="search_User" icon="ui-icon-wrench"/>
                    </p:submenu>
                    <p:submenu label="組織單位資料" rendered="#{login.adminAccess}">
                        <p:menuitem value="新增組織單位" outcome="create_Org" icon="ui-icon-plusthick"/>
                        <p:menuitem value="維護組織單位" outcome="search_Org" icon="ui-icon-wrench"/>
                    </p:submenu>
                </p:panelMenu>
            </h:form>
        </ui:composition>
    </h:body>
</html>

