<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
    </h:head>
    <h:body>
        <ui:composition>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" 
                                class="navbar-toggle collapsed" 
                                data-toggle="collapse" 
                                data-target="#bs-example-navbar-collapse-1" 
                                aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#{application.contextPath}/faces/index.xhtml">
                            <img alt="Brand" src="#{resource['images/logo.jpg']}" height="30px" />
                        </a>
                    </div>

                    <h:form>
                        <h:outputLabel value="Welcome,  #{request.remoteUser}" rendered="#{request.remoteUser != null}" style="width:150px; height:40px; position: absolute; top: 30%; right: 12%"/>
                                <!--<h:outputLink class="btn-primary" style=" position: absolute; top: 25%; right: 2%" value="#{application.contextPath}/faces/login.xhtml">#{msg.login}</h:outputLink>-->
                        <h:commandButton class="btn-primary" style="width:60px; height:40px; position: absolute; top: 25%; right: 6%" action="login" value="#{msg.login}"/>
                        <h:commandButton class="btn-primary" style="width:60px; height:40px; position: absolute; top: 25%; right: 2%" action="#{logout.logout}" value="#{msg.logout}"/>
                    </h:form>
                </div>
            </nav>
        </ui:composition>
    </h:body>
</html>

