<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Login Error</title>
    </h:head>
    <h:body>

        <ui:composition template="/WEB-INF/templates/masterLayout.xhtml">
            <ui:define name="contents">     
                    <h:outputText value="#{msg.login_err}"/><br/><br/>
                    <h:form>
                        <h:commandButton class="btn-primary" action="login" value="#{msg.login_again}"/>
                    </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

