<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
              crossorigin="anonymous"/>

        <!-- Optional theme -->
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" 
              crossorigin="anonymous"/>

        <style>
            body {height: 1200px; margin-top: 40px}
        </style>

        <title>#{msg.title}</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/templates/masterLayout.xhtml">
            <ui:define name="sideMenu">
                Please Login.
            </ui:define>
            <ui:define name="contents">   

                <form name="loginForm" method="POST" action="j_security_check">                
                    <p>#{msg.login_user}：</p><input type="text" name="j_username" size="20"/><br/><br/>
                    <p>#{msg.login_password} ：</p><input type="password" size="20" name="j_password"/><br/><br/>
                    <input type="submit" value="#{msg.login_submit}"/>
                    <input type="reset" value="#{msg.login_reset}"/> 
                </form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

