<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:dataTable value="#{volBean.viewVol}" var="v">
                <h:column>
                    <f:facet name="header">身分證</f:facet>
                    #{v.idNumber}
                </h:column>
                <h:column>
                    <f:facet name="header">姓名</f:facet>
                    #{v.name}
                </h:column>
            </h:dataTable>
        </h:form>
    </h:body>
</html>

